<!DOCTYPE html>
<html lang="en">
<head>
<!-- Basic page needs
	============================================ -->
	<title>Booking step</title>
	<meta charset="utf-8">
	<meta name="keywords" content="html5 template, best html5 template, best html template, html5 basic template, multipurpose html5 template, multipurpose html template, creative html templates, creative html5 templates" />
	<meta name="description" content="PortKey is a beautiful and creative travel booking HTML template for any travel designs" />
	<meta name="author" content="Magentech">
	<meta name="robots" content="index, follow" />
<!-- Mobile specific metas
	============================================ -->
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<!-- Favicon
	============================================ -->

<!-- Libs CSS
	============================================ -->
	<link rel="stylesheet" href="css/bootstrap/css/bootstrap.min.css">
	<link href="css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
	<link href="js/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
	<link href="js/owl-carousel/owl.carousel.css" rel="stylesheet">
	<link href="css/themecss/lib.css" rel="stylesheet">
	<link href="js/jquery-ui/jquery-ui.min.css" rel="stylesheet">
	<link href="js/minicolors/miniColors.css" rel="stylesheet">
<!-- Theme CSS
	============================================ -->
	<link href="css/themecss/so_sociallogin.css" rel="stylesheet">
	<link href="css/themecss/so_searchpro.css" rel="stylesheet">
	<link href="css/themecss/so_megamenu.css" rel="stylesheet">
	<link href="css/themecss/so-categories.css" rel="stylesheet">
	<link href="css/themecss/so-listing-tabs.css" rel="stylesheet">
	<link href="css/themecss/so-category-slider.css" rel="stylesheet">
	<link href="css/themecss/so-newletter-popup.css" rel="stylesheet">
	<link href="css/footer/footer1.css" rel="stylesheet">
	<link href="css/header/header1.css" rel="stylesheet">
	<link id="color_scheme" href="css/theme.css" rel="stylesheet">
	<link href="css/responsive.css" rel="stylesheet">
	<link href="css/quickview/quickview.css" rel="stylesheet">
<!-- Google web fonts
	============================================ -->
	<link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet" type="text/css">
	<link href="https://fonts.googleapis.com/css?family=Libre+Franklin:400,500,600,700,800&display=swap" rel="stylesheet">
	<style type="text/css">
	body{font-family: 'Libre Franklin', sans-serif;}
</style>
</head>

<body class="loaded layout-bookstep">
	<div id="wrapper" class="wrapper-fluid banners-effect-10">
		<!-- Main Container  -->
		<form method="get" class="form-bookingstep clearfix">
			<div id="wizard">
				<h3>Choose date</h3>
				<section class="clearfix">
					<div class="conten-left pull-left">
						<div class="item">
							<div class="item-block clearfix">
								<div class="image">
									<a href="#" target="_self">
										<img src="image/catalog/demo/product/travel/p6.jpg" alt="Tokyo" class="img-responsive">
									</a>
									<span class="price">$230</span>
								</div>
								<div class="item-content">
									<h3><a href="#">2 Day 1 Night Trip to Santorini, Greece</a></h3>
									<div class="reviews-content">
										<div class="star">
											<span style="width: 60px"></span>	
										</div>
									</div>
									<div class="des"><i class="fa fa-clock-o" aria-hidden="true"></i>4 day 3 night</div>
								</div>
							</div>
						</div>
					</div>
					<div class="conten-right pull-left">
						<div class="choose-top clearfix">				
							<h4>Choose Your Tour</h4>
							<div class="form-item item1 item-date date required">
								<label class="control-label" for="input-number">Check-in</label>
								<input type="text" class="tour-search-input datepicker-booking" id="date_arrival" placeholder="DD/MM/YY">
							</div>
							<div class="form-item item-date date required">
								<label class="control-label" for="input-number">Check-out</label>
								<input type="text" class="tour-search-input datepicker-booking" id="date_departure" placeholder="DD/MM/YY">
							</div>
							<div class="form-item item1 number required">
								<label class="control-label" for="input-adult">Adult</label>
								<input type="number" name="budget" value="" min="1" placeholder="2" id="input-adult">
							</div>
							<div class="form-item number">
								<label class="control-label" for="input-childrens">Childrens</label>
								<input type="number" name="budget" value="" min="1" placeholder="1" id="input-childrens">
							</div>
						</div>
						<ul class="total clearfix">
							<li>
								<span>2 Adult & 1 Child</span>
								<label>$625.0</label>
							</li>
							<li>
								<span>Tax (10%)</span>
								<label>+ $60.0</label>
							</li>
							<li>
								<span>Tour Discount (-10%)</span>
								<label>- $60.0</label>
							</li>
							<li>
								<span>Total price</span>
								<label>$625.0</label>
							</li>
						</ul>
					</div>
				</section>
				<h3>PAssenger info</h3>
				<section class="clearfix">
					<div class="conten-left pull-left">
						<div class="item clearfix">
							<div class="item-block clearfix">
								<div class="image">
									<a href="#" target="_self">
										<img src="image/catalog/demo/product/travel/p6.jpg" alt="Tokyo" class="img-responsive">
									</a>
									<span class="price">$230</span>
								</div>
								<div class="item-content">
									<h3><a href="#">2 Day 1 Night Trip to Santorini, Greece</a></h3>
									<div class="reviews-content">
										<div class="star">
											<span style="width: 60px"></span>	
										</div>
									</div>
									<div class="des"><i class="fa fa-clock-o" aria-hidden="true"></i>4 day 3 night</div>
								</div>
							</div>
							<ul class="check clearfix">
								<li>
									<span>Check-in:</span>
									<label>Tue, Jan 15 2019</label>
								</li>
								<li>
									<span>Check-out:</span>
									<label>Sat, Jan 19 2019</label>
								</li>
								<li>
									<span>Tour for</span>
									<label>2 Adults & 1 Child</label>
								</li>
							</ul>
							<ul class="total clearfix">
								<li>
									<span>2 Adult & 1 Child</span>
									<label>$625.0</label>
								</li>
								<li>
									<span>Tax (10%)</span>
									<label>+ $60.0</label>
								</li>
								<li>
									<span>Tour Discount (-10%)</span>
									<label>- $60.0</label>
								</li>
								<li>
									<span>Total price</span>
									<label>$625.0</label>
								</li>
							</ul>
						</div>
					</div>	
					<div class="conten-right pull-left">
						<div class="choose-top clearfix">				
							<h4>Your Booking Detail</h4>
							<div class="form-item item1 required">
								<label class="control-label" for="input-firstname">First Name</label>
								<input type="text" name="firstname" value="" placeholder="" id="input-firstname">
							</div>
							<div class="form-item required">
								<label class="control-label" for="input-lastname">Last Name</label>
								<input type="text" name="lastname" value="" placeholder="" id="input-lastname">
							</div>
							<div class="form-item item1 required">
								<label class="control-label" for="input-email">Email</label>
								<input type="email" name="email" value="" placeholder="" id="input-email">
							</div>
							<div class="form-item number2 required">
								<label class="control-label" for="input-telephone">Phone number</label>
								<input type="number" name="telephone" value="" placeholder="" id="input-telephone">
							</div>
							<div class="form-item item-add">
								<label class="control-label" for="input-adddress">Address</label>
								<input type="text" name="adddress" value="" placeholder="" id="input-adddress">
							</div>
							<div class="form-item item-add">
								<label class="control-label" for="input-requirement">Requirement Note </label>
								<textarea name="accomodations" rows="6" id="input-requirement"></textarea>
							</div>
						</div>
					</div>
				</section>
				<h3>check-out</h3>
				<section class="clearfix">
					<div class="conten-left pull-left">
						<div class="item clearfix">
							<div class="item-block clearfix">
								<div class="image">
									<a href="#" target="_self">
										<img src="image/catalog/demo/product/travel/p6.jpg" alt="Tokyo" class="img-responsive">
									</a>
									<span class="price">$230</span>
								</div>
								<div class="item-content">
									<h3><a href="#">2 Day 1 Night Trip to Santorini, Greece</a></h3>
									<div class="reviews-content">
										<div class="star">
											<span style="width: 60px"></span>	
										</div>
									</div>
									<div class="des"><i class="fa fa-clock-o" aria-hidden="true"></i>4 day 3 night</div>
								</div>
							</div>
							<ul class="check clearfix">
								<li>
									<span>Check-in:</span>
									<label>Tue, Jan 15 2019</label>
								</li>
								<li>
									<span>Check-out:</span>
									<label>Sat, Jan 19 2019</label>
								</li>
								<li>
									<span>Tour for</span>
									<label>2 Adults & 1 Child</label>
								</li>
							</ul>
							<ul class="total clearfix">
								<li>
									<span>2 Adult & 1 Child</span>
									<label>$625.0</label>
								</li>
								<li>
									<span>Tax (10%)</span>
									<label>+ $60.0</label>
								</li>
								<li>
									<span>Tour Discount (-10%)</span>
									<label>- $60.0</label>
								</li>
								<li>
									<span>Total price</span>
									<label>$625.0</label>
								</li>
							</ul>
						</div>
					</div>	
					<div class="conten-right pull-left">
						<div class="choose-top clearfix">				
							<h4>Your Payment Detail</h4>
							<ul class="sw_payment_methods">
								<li>
									<label class="contain" for="payment_method_payment">Payment upon check-in <i>(2 days duration)</i>
										<input id="payment_method_payment" type="radio" class="input-radio" name="payment_method" value="payment" data-order_button_text="">
										<span class="checkmark"></span>
									</label>
								</li>
								<li>
									<label class="contain" for="payment_method_credit">Via credit card
										<input id="payment_method_credit" type="radio" class="input-radio" name="payment_method" value="credit" checked="checked" data-order_button_text="">
										<span class="checkmark"></span>
										<img src="image/icon/icon-payment.png" alt="payment" class="img-responsive pull-right">
									</label>
									<div class="payment_method_credit">
										<div class="form-item item1 required">
											<label class="control-label" for="input-payment">Payment Method</label>
											<select name="payment">
												<option value="1">Visa</option>
												<option value="2">Visa 2</option>
												<option value="3">Visa 3</option>
											</select>
										</div>
										<div class="form-item required">
											<label class="control-label" for="input-cardnumb">Card number</label>
											<input type="text" name="cardnumb" value="" placeholder="" id="input-cardnumb">
										</div>
										<div class="form-item item1 required">
											<label class="control-label" for="input-cardname">Card Holder Name</label>
											<input type="text" name="cardname" value="" placeholder="" id="input-cardname">
										</div>
										<div class="form-item item2 date required">
											<label class="control-label" for="input-number">Expiry Date</label>
											<input type="text" class="tour-search-input datepicker-booking" id="date_exp" placeholder="DD/MM/YY">
										</div>
										<div class="form-item item3 required">
											<label class="control-label" for="input-cvc">CVC/CVV</label>
											<input type="text" name="cvc" value="" placeholder="" id="input-cvc">
										</div>
									</div>
								</li>
								<li>
									<label class="contain" for="payment_method_paypal">Via Paypal
										<input id="payment_method_paypal" type="radio" class="input-radio" name="payment_method" value="paypal" data-order_button_text="">
										<span class="checkmark"></span>
										<img src="image/icon/icon-payment2.png" alt="payment" class="img-responsive pull-right">
									</label>
								</li>
							</ul>								
						</div>
					</div>
				</section>
				<h3>Complete!</h3>
				<section class="clearfix">
					<div class="conten-left pull-left">
						<div class="item clearfix">
							<div class="item-block clearfix">
								<div class="image">
									<a href="#" target="_self">
										<img src="image/catalog/demo/product/travel/p6.jpg" alt="Tokyo" class="img-responsive">
									</a>
									<span class="price">$230</span>
								</div>
								<div class="item-content">
									<h3><a href="#">2 Day 1 Night Trip to Santorini, Greece</a></h3>
									<div class="reviews-content">
										<div class="star">
											<span style="width: 60px"></span>	
										</div>
									</div>
									<div class="des"><i class="fa fa-clock-o" aria-hidden="true"></i>4 day 3 night</div>
								</div>
							</div>
							<ul class="check clearfix">
								<li>
									<span>Check-in:</span>
									<label>Tue, Jan 15 2019</label>
								</li>
								<li>
									<span>Check-out:</span>
									<label>Sat, Jan 19 2019</label>
								</li>
								<li>
									<span>Tour for</span>
									<label>2 Adults & 1 Child</label>
								</li>
							</ul>
							<ul class="total clearfix">
								<li>
									<span>2 Adult & 1 Child</span>
									<label>$625.0</label>
								</li>
								<li>
									<span>Tax (10%)</span>
									<label>+ $60.0</label>
								</li>
								<li>
									<span>Tour Discount (-10%)</span>
									<label>- $60.0</label>
								</li>
								<li>
									<span>Total price</span>
									<label>$625.0</label>
								</li>
							</ul>
						</div>
					</div>	
					<div class="conten-right pull-left">
						<div class="choose-top clearfix">				
							<h4>Comfirm Information</h4>
							<div class="title clearfix">
								<span class="pull-left">Traveller Information</span>
								<a class="pull-right" href="#"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>Edit</a>
							</div>
							<ul class="confirm">
								<li>
									<span>Booking Number</span>
									<label>#342</label>
								</li>
								<li>
									<span>First Name</span>
									<label>Smith</label>
								</li>
								<li>
									<span>Last Name</span>
									<label>John</label>
								</li>
								<li>
									<span>Email Address</span>
									<label>johnsmith324@gmail.com</label>
								</li>
								<li>
									<span>Phone Number</span>
									<label>+1 265 472 374</label>
								</li>
								<li>
									<span>Address</span>
									<label>4001 Avenue K, Brooklyn, NY 11210</label>
								</li>
								<li>
									<span>Requirement Note</span>
									<label>Empty</label>
								</li>
							</ul>	
							<div class="title clearfix">
								<span class="pull-left">Payment Method</span>
							</div>
							<ul class="sw_payment_methods style2">
								<li>
									<label class="contain" for="payment_method_paypal2"> 4422-xxxx-5314-2345
										<input id="payment_method_paypal2" type="radio" checked="checked" class="input-radio" name="payment_method" value="paypal" data-order_button_text="">
										<span class="checkmark"></span>
										<img src="image/icon/icon-payment2.png" alt="payment" class="img-responsive pull-left">
									</label>
									<a class="pull-right" href="#"><i class="fa fa-plus-square-o" aria-hidden="true"></i>Add new card</a>
								</li>
							</ul>							
						</div>
					</div>
				</section>
			</div>
		</form>
		<!-- //Main Container -->
	</div>

<!-- Include Libs & Plugins
	============================================ -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script type="text/javascript" src="js/jquery-2.2.4.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/themejs/so_megamenu.js"></script>
	<script type="text/javascript" src="js/owl-carousel/owl.carousel.js"></script>
	<script type="text/javascript" src="js/slick-slider/slick.js"></script>
	<script type="text/javascript" src="js/themejs/libs.js"></script>
	<script type="text/javascript" src="js/unveil/jquery.unveil.js"></script>
	<script type="text/javascript" src="js/countdown/jquery.countdown.min.js"></script>
	<script type="text/javascript" src="js/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js"></script>
	<script type="text/javascript" src="js/datetimepicker/moment.js"></script>
	<script type="text/javascript" src="js/datetimepicker/bootstrap-datetimepicker.min.js"></script>
	<script type="text/javascript" src="js/jquery-ui/jquery-ui.min.js"></script>
	<script type="text/javascript" src="js/modernizr/modernizr-2.6.2.min.js"></script>
	<script type="text/javascript" src="js/minicolors/jquery.miniColors.min.js"></script>
	<script type="text/javascript" src="js/jquery.nav.js"></script>
	<script type="text/javascript" src="js/quickview/jquery.magnific-popup.min.js"></script>
<!-- Theme files
	============================================ -->
	<script type="text/javascript" src="js/themejs/application.js"></script>
	<script type="text/javascript" src="js/themejs/homepage.js"></script>
	<script type="text/javascript" src="js/themejs/jquery.steps.js"></script>
	<script type="text/javascript" src="js/themejs/custom_h1.js"></script>
	<script type="text/javascript" src="js/themejs/nouislider.js"></script>
	<script type="text/javascript">
		$(function (){
		  $("#wizard").steps({
		    headerTag: "h3",
		    bodyTag: "section",
		    transitionEffect: "slideLeft"
		  });
		  $('.datepicker-booking').datetimepicker({
			format: 'dd/MM/YYYY'
		  });
		});
	</script>
</body>
</html>