<!DOCTYPE html>
<html lang="en">

<head>
		<!-- Basic page needs
				 ============================================ -->
		<title>PortKey - Tour & Travel Booking HTML Template</title>
		<meta charset="utf-8">
		<meta name="keywords" content="html5 template, best html5 template, best html template, html5 basic template, multipurpose html5 template, multipurpose html template, creative html templates, creative html5 templates" />
		<meta name="description" content="PortKey is a beautiful and creative travel booking HTML template for any travel designs" />
		<meta name="author" content="Magentech">
		<meta name="robots" content="index, follow" />
		<!-- Mobile specific metas
				 ============================================ -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
		<!-- Favicon
				 ============================================ -->
		
		<!-- Libs CSS
				 ============================================ -->
		<link rel="stylesheet" href="css/bootstrap/css/bootstrap.min.css">
		<link href="css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
		<link href="js/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
		<link href="js/owl-carousel/owl.carousel.css" rel="stylesheet">
		<link href="css/themecss/lib.css" rel="stylesheet">
		<link href="js/jquery-ui/jquery-ui.min.css" rel="stylesheet">
		<link href="js/minicolors/miniColors.css" rel="stylesheet">
		<link href="js/slick-slider/slick.css" rel="stylesheet">
		<!-- Theme CSS
				 ============================================ -->
		<link href="css/themecss/so_searchpro.css" rel="stylesheet">
		<link href="css/themecss/so_megamenu.css" rel="stylesheet">
		<link href="css/themecss/so-listing-tabs.css" rel="stylesheet">
		<link href="css/themecss/so-newletter-popup.css" rel="stylesheet">
		<link href="css/footer/footer3.css" rel="stylesheet">
		<link href="css/header/header3.css" rel="stylesheet">
		<link id="color_scheme" href="css/home3.css" rel="stylesheet">
		<link href="css/responsive.css" rel="stylesheet">
		<link href="css/quickview/quickview.css" rel="stylesheet">
		<!-- Google web fonts
				 ============================================ -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:600,700,800&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Libre+Franklin:400,500,600,700,800&display=swap" rel="stylesheet">
		<style type="text/css">
		body{font-family: 'Libre Franklin', sans-serif;}
		</style>
</head>

<body class="common-home ltr layout-3">
	<div id="wrapper" class="wrapper-full banners-effect-10">
		<!-- Header Container  -->
		<header id="header" class="typeheader-3 clearfix">
			<div class="header-menu-bar pull-left">
				<div class="button">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>		
				</div>
				<div class="header-menu pull-right">
					<span id="remove-menubar" class="fa fa-times"></span>
					<div class="navbar-logo">
						<a href="index.html"><img src="image/catalog/demo/logo/logo3.png" alt="Your Store" width="164" height="50" title="Your Store"></a>
					</div>
					<div class="megamenu-style-dev megamenu-dev">
						<div class="responsive">
							<nav class="navbar-default">
								<div class="container-megamenu horizontal">
									<div class="navbar-header">
										<button type="button" id="show-megamenu" data-toggle="collapse" class="navbar-toggle">
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
											<span class="icon-bar"></span>
										</button>
									</div>
									<div class="megamenu-wrapper">
										<span id="remove-megamenu" class="fa fa-times"></span>
										<div class="megamenu-pattern">
											<div class="container">
												<ul class="megamenu" data-transition="slide" data-animationtime="500">
													<li class="menu-home with-sub-menu hover">
														<p class="close-menu"></p>
														<a href="#" class="clearfix">
															<strong>
																Home
															</strong>
														</a>
														<div class="sub-menu" style="width: 100%;">
															<div class="content">
																<div class="row">
																	<div class="col-md-12">
																		<ul class="row-list">
																			<li><a class="subcategory_item" href="index.html">Home Page 1</a></li>
																			<li><a class="subcategory_item" href="home2.html">Home Page 2</a></li>
																			<li><a class="subcategory_item" href="home3.html">Home Page 3</a></li>
																		</ul>
																	</div>
																</div>
															</div>
														</div>
													</li>
													<li class="style-page with-sub-menu hover">
														<p class="close-menu"></p>
														<a  class="clearfix">
															<strong>
																Tour
															</strong>
															<span class="labelwordpress"></span>
														</a>
														<div class="sub-menu" style="width: 100%;">
															<div class="content">
																<div class="row">
																	<div class="col-md-12">
																		<ul class="row-list">
																			<li><a class="subcategory_item" href="tour.html">Tour List</a></li>
																			<li><a class="subcategory_item" href="tour.html">Tour Grid</a></li>
																			<li><a class="subcategory_item" href="tour-detail.html">Tour Single</a></li>
																		</ul>
																	</div>
																</div>
															</div>
														</div>
													</li>
													<li class="style-page destina with-sub-menu hover">
														<p class="close-menu"></p>
														<a  class="clearfix">
															<strong>
																Destination
															</strong>
															<span class="labelNew"></span>
														</a>
														<div class="sub-menu" style="width: 100%;">
															<div class="content">
																<div class="row">
																	<div class="col-md-6">
																		<h3>Top destinations</h3>
																		<ul class="row-list">
																			<li><a class="subcategory_item" href="destination-detail.html">Viet Nam</a></li>
																			<li><a class="subcategory_item" href="destination-detail.html">New Zeland</a></li>
																			<li><a class="subcategory_item" href="destination-detail.html">United State</a></li>
																			<li><a class="subcategory_item" href="destination-detail.html">Iceland</a></li>
																		</ul>
																	</div>
																	<div class="col-md-6">
																		<h3>destinations layout</h3>
																		<ul class="row-list">
																			<li><a class="subcategory_item" href="destination-list.html">destinations Fullwidth</a></li>
																			<li><a class="subcategory_item" href="destination-detail.html">destinations single</a></li>
																		</ul>
																	</div>
																</div>
															</div>
														</div>
													</li>
													<li class="style-page with-sub-menu hover">
														<p class="close-menu"></p>
														<a  class="clearfix">
															<strong>
																Travel styles
															</strong>
														</a>
														<div class="sub-menu" style="width: 100%;">
															<div class="content">
																<div class="row">
																	<div class="col-md-12">
																		<ul class="row-list">
																			<li><a class="subcategory_item" href="#">Adventure</a></li>
																			<li><a class="subcategory_item" href="#">Holiday</a></li>
																			<li><a class="subcategory_item" href="#">Family Tour</a></li>
																			<li><a class="subcategory_item" href="#">Cheap Trip</a></li>
																			<li><a class="subcategory_item" href="#">Open Tour</a></li>
																			<li><a class="subcategory_item" href="#">Historical</a></li>
																		</ul>
																	</div>
																</div>
															</div>
														</div>
													</li>
													<li class="style-page with-sub-menu hover">
														<p class="close-menu"></p>
														<a href="blog-page.html" class="clearfix">
															<strong>
																Blog
															</strong>
														</a>
														<div class="sub-menu" style="width: 100%;">
															<div class="content" >
																<div class="row">
																	<div class="col-md-12">
																		<ul class="row-list">
																			<li><a class="subcategory_item" href="blog-grid.html">Blog Fullwidth</a></li>
																			<li><a class="subcategory_item" href="blog-list.html">Blog List</a></li>
																			<li><a class="subcategory_item" href="blog-sidebar.html">Blog Grid</a></li>
																			<li><a class="subcategory_item" href="blog-detail.html">Blog Single</a></li>
																		</ul>
																	</div>
																</div>
															</div>
														</div>
													</li>
													<li class="style-page with-sub-menu hover">
														<p class="close-menu"></p>
														<a  class="clearfix">
															<strong>
																Pages
															</strong>
														</a>
														<div class="sub-menu" style="width: 100%;">
															<div class="content" >
																<div class="row">
																	<div class="col-md-12">
																		<ul class="row-list">
																			<li><a class="subcategory_item" href="about-us.html">About us</a></li>
																			<li><a class="subcategory_item" href="contact-us-v1.html">Contact us</a></li>
																			<li><a class="subcategory_item" href="contact-us-v2.html">Contact us v2</a></li>
																			<li><a class="subcategory_item" href="404.html">404 Error</a></li>
																			<li><a class="subcategory_item" href="faq.html">Faq</a></li>
																		</ul>
																	</div>
																</div>
															</div>
														</div>
													</li>
												</ul>
											</div>
										</div>
									</div>
								</div>
							</nav>
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-3 col-xs-6 header-logo pull-left">
				<div class="navbar-logo">
					<a href="index.html"><img src="image/catalog/demo/logo/logo2.png" alt="Your Store" width="131" height="40" title="Your Store"></a>
				</div>
			</div>
			<div class="bonus-language pull-right">
				<form action="#" method="post" enctype="multipart/form-data">
					<div class="btn-group">
						<button class="btn-link dropdown-toggle" data-toggle="dropdown">
							<span class="hidden-xs hidden-sm hidden-md"></span>Eng <i class="fa fa-angle-down"></i>
						</button>
						<ul class="dropdown-menu">
							<li>
								<button class="btn-block language-select" type="button" name="ar-ar"><img src="image/catalog/flags/ar.png" alt="Arabic" title="Arabic"> Arabic</button>
							</li>
							<li>
								<button class="btn-block language-select" type="button" name="en-gb"><img src="image/catalog/flags/gb.png" alt="English" title="English"> English</button>
							</li>
						</ul>
					</div>
					<input type="hidden" name="code" value="">
					<input type="hidden" name="redirect" value="#">
				</form>
			</div>
			<div class="book pull-right">
				<a href="requiry.html">inquiry</a>
			</div>
			<div class="bonus-login pull-right">
				<a data-toggle="modal" data-target="#so_sociallogin" href="#">Login</a>
			</div>						
		</header>
		<!-- //Header Container  -->
		<!-- Main Container  -->
		<ul id="menu">
		    <li data-menuanchor="firstPage" class="active"><a href="#firstPage">1</a></li>
		    <li data-menuanchor="secondPage"><a href="#secondPage">2</a></li>
		    <li data-menuanchor="3rdPage"><a href="#3rdPage">3</a></li>
		    <li data-menuanchor="4thpage"><a href="#4thpage">4</a></li>
		</ul>
		<div id="fullpage">
		    <div class="section-home3 section active" id="section0">
	      		<div class="page-builder-ltr">
	      			<div class="sl-content">
		    			<div class="title">Discover</div>
		    			<h3>England</h3>
		    			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		    			<a href="#">Explore <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
		    		</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="module so-deals-1tr">
							<div class="modcontent">
								<div class="so-deal modcontent products-list grid clearfix preset00-3 preset01-3 preset02-2 preset03-2 preset04-1 button-type1">
									<div class="category-slider-inner3 products-list">
										<div class="item">
											<div class="item-inner">
												<div class="transition product-layout">
													<div class="product-item-container ">
														<div class="item-block so-quickview">
															<div class="image">
																<a href="tour-detail.html" target="_self">
																	<img src="image/catalog/demo/product/travel/bro1.jpg" alt="england" class="img-responsive">
																</a>
																<span class="label-hot"><i class="fa fa-fire" aria-hidden="true"></i>Hot tour</span>
																<span class="label-rate style2"><i class="fa fa-star" aria-hidden="true"></i>high rate</span>
																<a href="booking-step.html" class="book-tour btn-quickview quickview quickview_handler" title="Quick View" data-title="Quick View" data-fancybox-type="iframe"></a>
															</div>
															<div class="item-content clearfix">
																<h3><a href="tour-detail.html">The Windmills of Schie-dam, Holland</a></h3>
																<div class="reviews-content">
																	<div class="star">
																		<span style="width: 60px"></span>	
																	</div>
																</div>
																<div class="price">
																	from <label>$230</label><span>person</span>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="item">
											<div class="item-inner">
												<div class="transition product-layout">
													<div class="product-item-container ">
														<div class="item-block so-quickview">
															<div class="image">
																<a href="tour-detail.html" target="_self">
																	<img src="image/catalog/demo/product/travel/bro2.jpg" alt="england" class="img-responsive">
																</a>
																<span class="label-rate"><i class="fa fa-star" aria-hidden="true"></i>high rate</span>
																<a href="booking-step.html" class="book-tour btn-quickview quickview quickview_handler" title="Quick View" data-title="Quick View" data-fancybox-type="iframe"></a>
															</div>
															<div class="item-content clearfix">
																<h3><a href="tour-detail.html">2 Day 1 Night Trip to Santorini, Greece</a></h3>
																<div class="reviews-content">
																	<div class="star">
																		<span style="width: 60px"></span>	
																	</div>
																</div>
																<div class="price">
																	from <label>$230</label><span>person</span>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="item">
											<div class="item-inner">
												<div class="transition product-layout">
													<div class="product-item-container ">
														<div class="item-block so-quickview">
															<div class="image">
																<a href="tour-detail.html" target="_self">
																	<img src="image/catalog/demo/product/travel/bro3.jpg" alt="england" class="img-responsive">
																</a>
																<span class="label-hot"><i class="fa fa-fire" aria-hidden="true"></i>Hot tour</span>
																<a href="booking-step.html" class="book-tour btn-quickview quickview quickview_handler" title="Quick View" data-title="Quick View" data-fancybox-type="iframe"></a>
															</div>
															<div class="item-content clearfix">
																<h3><a href="tour-detail.html">The Windmills of Schie-dam, Holland</a></h3>
																<div class="reviews-content">
																	<div class="star">
																		<span style="width: 60px"></span>	
																	</div>
																</div>
																<div class="price">
																	from <label>$230</label><span>person</span>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="item">
											<div class="item-inner">
												<div class="transition product-layout">
													<div class="product-item-container ">
														<div class="item-block so-quickview">
															<div class="image">
																<a href="tour-detail.html" target="_self">
																	<img src="image/catalog/demo/product/travel/bro4.jpg" alt="england" class="img-responsive">
																</a>
																<span class="label-hot"><i class="fa fa-fire" aria-hidden="true"></i>Hot tour</span>
																<span class="label-rate style2"><i class="fa fa-star" aria-hidden="true"></i>high rate</span>
																<a href="booking-step.html" class="book-tour btn-quickview quickview quickview_handler" title="Quick View" data-title="Quick View" data-fancybox-type="iframe"></a>
															</div>
															<div class="item-content clearfix">
																<h3><a href="tour-detail.html">2 Day 1 Night Trip to Santorini, Greece</a></h3>
																<div class="reviews-content">
																	<div class="star">
																		<span style="width: 60px"></span>	
																	</div>
																</div>
																<div class="price">
																	from <label>$230</label><span>person</span>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="item">
											<div class="item-inner">
												<div class="transition product-layout">
													<div class="product-item-container ">
														<div class="item-block so-quickview">
															<div class="image">
																<a href="tour-detail.html" target="_self">
																	<img src="image/catalog/demo/product/travel/bro5.jpg" alt="england" class="img-responsive">
																</a>
																<span class="label-hot"><i class="fa fa-fire" aria-hidden="true"></i>Hot tour</span>
																<span class="label-rate style2"><i class="fa fa-star" aria-hidden="true"></i>high rate</span>
																<a href="booking-step.html" class="book-tour btn-quickview quickview quickview_handler" title="Quick View" data-title="Quick View" data-fancybox-type="iframe"></a>
															</div>
															<div class="item-content clearfix">
																<h3><a href="tour-detail.html">2 Day 1 Night Trip to Santorini, Greece</a></h3>
																<div class="reviews-content">
																	<div class="star">
																		<span style="width: 60px"></span>	
																	</div>
																</div>
																<div class="price">
																	from <label>$230</label><span>person</span>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>											
										<div class="item">
											<div class="item-inner">
												<div class="transition product-layout">
													<div class="product-item-container ">
														<div class="item-block so-quickview">
															<div class="image">
																<a href="tour-detail.html" target="_self">
																	<img src="image/catalog/demo/product/travel/bro6.jpg" alt="england" class="img-responsive">
																</a>
																<span class="label-hot"><i class="fa fa-fire" aria-hidden="true"></i>Hot tour</span>
																<span class="label-rate style2"><i class="fa fa-star" aria-hidden="true"></i>high rate</span>
																<a href="booking-step.html" class="book-tour btn-quickview quickview quickview_handler" title="Quick View" data-title="Quick View" data-fancybox-type="iframe"></a>
															</div>
															<div class="item-content clearfix">
																<h3><a href="tour-detail.html">2 Day 1 Night Trip to Santorini, Greece</a></h3>
																<div class="reviews-content">
																	<div class="star">
																		<span style="width: 60px"></span>	
																	</div>
																</div>
																<div class="price">
																	from <label>$230</label><span>person</span>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="item">
											<div class="item-inner">
												<div class="transition product-layout">
													<div class="product-item-container ">
														<div class="item-block so-quickview">
															<div class="image">
																<a href="tour-detail.html" target="_self">
																	<img src="image/catalog/demo/product/travel/bro7.jpg" alt="england" class="img-responsive">
																</a>
																<span class="label-hot"><i class="fa fa-fire" aria-hidden="true"></i>Hot tour</span>
																<span class="label-rate style2"><i class="fa fa-star" aria-hidden="true"></i>high rate</span>
																<a href="booking-step.html" class="book-tour btn-quickview quickview quickview_handler" title="Quick View" data-title="Quick View" data-fancybox-type="iframe"></a>
															</div>
															<div class="item-content clearfix">
																<h3><a href="tour-detail.html">2 Day 1 Night Trip to Santorini, Greece</a></h3>
																<div class="reviews-content">
																	<div class="star">
																		<span style="width: 60px"></span>	
																	</div>
																</div>
																<div class="price">
																	from <label>$230</label><span>person</span>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>											
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		    </div>
		    <div class="section-home3 section" id="section1">
	      		<div class="page-builder-ltr">
	      			<div class="sl-content">
		    			<div class="title">Discover</div>
		    			<h3>Viet Nam</h3>
		    			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		    			<a href="#">Explore <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
		    		</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="module so-deals-1tr">
							<div class="modcontent">
								<div class="so-deal modcontent products-list grid clearfix preset00-3 preset01-3 preset02-2 preset03-2 preset04-1 button-type1">
									<div class="category-slider-inner3 products-list">
										<div class="item">
											<div class="item-inner">
												<div class="transition product-layout">
													<div class="product-item-container ">
														<div class="item-block so-quickview">
															<div class="image">
																<a href="tour-detail.html" target="_self">
																	<img src="image/catalog/demo/product/travel/bro6.jpg" alt="england" class="img-responsive">
																</a>
																<span class="label-hot"><i class="fa fa-fire" aria-hidden="true"></i>Hot tour</span>
																<span class="label-rate style2"><i class="fa fa-star" aria-hidden="true"></i>high rate</span>
																<a href="booking-step.html" class="book-tour btn-quickview quickview quickview_handler" title="Quick View" data-title="Quick View" data-fancybox-type="iframe"></a>
															</div>
															<div class="item-content clearfix">
																<h3><a href="tour-detail.html">The Windmills of Schie-dam, Holland</a></h3>
																<div class="reviews-content">
																	<div class="star">
																		<span style="width: 60px"></span>	
																	</div>
																</div>
																<div class="price">
																	from <label>$230</label><span>person</span>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="item">
											<div class="item-inner">
												<div class="transition product-layout">
													<div class="product-item-container ">
														<div class="item-block so-quickview">
															<div class="image">
																<a href="tour-detail.html" target="_self">
																	<img src="image/catalog/demo/product/travel/bro7.jpg" alt="england" class="img-responsive">
																</a>
																<span class="label-rate"><i class="fa fa-star" aria-hidden="true"></i>high rate</span>
																<a href="booking-step.html" class="book-tour btn-quickview quickview quickview_handler" title="Quick View" data-title="Quick View" data-fancybox-type="iframe"></a>
															</div>
															<div class="item-content clearfix">
																<h3><a href="tour-detail.html">2 Day 1 Night Trip to Santorini, Greece</a></h3>
																<div class="reviews-content">
																	<div class="star">
																		<span style="width: 60px"></span>	
																	</div>
																</div>
																<div class="price">
																	from <label>$230</label><span>person</span>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="item">
											<div class="item-inner">
												<div class="transition product-layout">
													<div class="product-item-container ">
														<div class="item-block so-quickview">
															<div class="image">
																<a href="tour-detail.html" target="_self">
																	<img src="image/catalog/demo/product/travel/bro5.jpg" alt="england" class="img-responsive">
																</a>
																<span class="label-hot"><i class="fa fa-fire" aria-hidden="true"></i>Hot tour</span>
																<a href="booking-step.html" class="book-tour btn-quickview quickview quickview_handler" title="Quick View" data-title="Quick View" data-fancybox-type="iframe"></a>
															</div>
															<div class="item-content clearfix">
																<h3><a href="tour-detail.html">The Windmills of Schie-dam, Holland</a></h3>
																<div class="reviews-content">
																	<div class="star">
																		<span style="width: 60px"></span>	
																	</div>
																</div>
																<div class="price">
																	from <label>$230</label><span>person</span>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="item">
											<div class="item-inner">
												<div class="transition product-layout">
													<div class="product-item-container ">
														<div class="item-block so-quickview">
															<div class="image">
																<a href="tour-detail.html" target="_self">
																	<img src="image/catalog/demo/product/travel/bro4.jpg" alt="england" class="img-responsive">
																</a>
																<span class="label-hot"><i class="fa fa-fire" aria-hidden="true"></i>Hot tour</span>
																<span class="label-rate style2"><i class="fa fa-star" aria-hidden="true"></i>high rate</span>
																<a href="booking-step.html" class="book-tour btn-quickview quickview quickview_handler" title="Quick View" data-title="Quick View" data-fancybox-type="iframe"></a>
															</div>
															<div class="item-content clearfix">
																<h3><a href="tour-detail.html">2 Day 1 Night Trip to Santorini, Greece</a></h3>
																<div class="reviews-content">
																	<div class="star">
																		<span style="width: 60px"></span>	
																	</div>
																</div>
																<div class="price">
																	from <label>$230</label><span>person</span>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="item">
											<div class="item-inner">
												<div class="transition product-layout">
													<div class="product-item-container ">
														<div class="item-block so-quickview">
															<div class="image">
																<a href="tour-detail.html" target="_self">
																	<img src="image/catalog/demo/product/travel/bro3.jpg" alt="england" class="img-responsive">
																</a>
																<span class="label-hot"><i class="fa fa-fire" aria-hidden="true"></i>Hot tour</span>
																<span class="label-rate style2"><i class="fa fa-star" aria-hidden="true"></i>high rate</span>
																<a href="booking-step.html" class="book-tour btn-quickview quickview quickview_handler" title="Quick View" data-title="Quick View" data-fancybox-type="iframe"></a>
															</div>
															<div class="item-content clearfix">
																<h3><a href="tour-detail.html">2 Day 1 Night Trip to Santorini, Greece</a></h3>
																<div class="reviews-content">
																	<div class="star">
																		<span style="width: 60px"></span>	
																	</div>
																</div>
																<div class="price">
																	from <label>$230</label><span>person</span>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>											
										<div class="item">
											<div class="item-inner">
												<div class="transition product-layout">
													<div class="product-item-container ">
														<div class="item-block so-quickview">
															<div class="image">
																<a href="tour-detail.html" target="_self">
																	<img src="image/catalog/demo/product/travel/bro2.jpg" alt="england" class="img-responsive">
																</a>
																<span class="label-hot"><i class="fa fa-fire" aria-hidden="true"></i>Hot tour</span>
																<span class="label-rate style2"><i class="fa fa-star" aria-hidden="true"></i>high rate</span>
																<a href="booking-step.html" class="book-tour btn-quickview quickview quickview_handler" title="Quick View" data-title="Quick View" data-fancybox-type="iframe"></a>
															</div>
															<div class="item-content clearfix">
																<h3><a href="tour-detail.html">2 Day 1 Night Trip to Santorini, Greece</a></h3>
																<div class="reviews-content">
																	<div class="star">
																		<span style="width: 60px"></span>	
																	</div>
																</div>
																<div class="price">
																	from <label>$230</label><span>person</span>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="item">
											<div class="item-inner">
												<div class="transition product-layout">
													<div class="product-item-container ">
														<div class="item-block so-quickview">
															<div class="image">
																<a href="tour-detail.html" target="_self">
																	<img src="image/catalog/demo/product/travel/bro1.jpg" alt="england" class="img-responsive">
																</a>
																<span class="label-hot"><i class="fa fa-fire" aria-hidden="true"></i>Hot tour</span>
																<span class="label-rate style2"><i class="fa fa-star" aria-hidden="true"></i>high rate</span>
																<a href="booking-step.html" class="book-tour btn-quickview quickview quickview_handler" title="Quick View" data-title="Quick View" data-fancybox-type="iframe"></a>
															</div>
															<div class="item-content clearfix">
																<h3><a href="tour-detail.html">2 Day 1 Night Trip to Santorini, Greece</a></h3>
																<div class="reviews-content">
																	<div class="star">
																		<span style="width: 60px"></span>	
																	</div>
																</div>
																<div class="price">
																	from <label>$230</label><span>person</span>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>											
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		    </div>
		    <div class="section-home3 section" id="section2">
		     	<div class="page-builder-ltr">
		     		<div class="sl-content">
		    			<div class="title">Discover</div>
		    			<h3>France</h3>
		    			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		    			<a href="#">Explore <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
		    		</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="module so-deals-1tr">
							<div class="modcontent">
								<div class="so-deal modcontent products-list grid clearfix preset00-3 preset01-3 preset02-2 preset03-2 preset04-1 button-type1">
									<div class="category-slider-inner3 products-list">
										<div class="item">
											<div class="item-inner">
												<div class="transition product-layout">
													<div class="product-item-container ">
														<div class="item-block so-quickview">
															<div class="image">
																<a href="tour-detail.html" target="_self">
																	<img src="image/catalog/demo/product/travel/bro4.jpg" alt="england" class="img-responsive">
																</a>
																<span class="label-hot"><i class="fa fa-fire" aria-hidden="true"></i>Hot tour</span>
																<span class="label-rate style2"><i class="fa fa-star" aria-hidden="true"></i>high rate</span>
																<a href="booking-step.html" class="book-tour btn-quickview quickview quickview_handler" title="Quick View" data-title="Quick View" data-fancybox-type="iframe"></a>
															</div>
															<div class="item-content clearfix">
																<h3><a href="tour-detail.html">The Windmills of Schie-dam, Holland</a></h3>
																<div class="reviews-content">
																	<div class="star">
																		<span style="width: 60px"></span>	
																	</div>
																</div>
																<div class="price">
																	from <label>$230</label><span>person</span>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="item">
											<div class="item-inner">
												<div class="transition product-layout">
													<div class="product-item-container ">
														<div class="item-block so-quickview">
															<div class="image">
																<a href="tour-detail.html" target="_self">
																	<img src="image/catalog/demo/product/travel/bro2.jpg" alt="england" class="img-responsive">
																</a>
																<span class="label-rate"><i class="fa fa-star" aria-hidden="true"></i>high rate</span>
																<a href="booking-step.html" class="book-tour btn-quickview quickview quickview_handler" title="Quick View" data-title="Quick View" data-fancybox-type="iframe"></a>
															</div>
															<div class="item-content clearfix">
																<h3><a href="tour-detail.html">2 Day 1 Night Trip to Santorini, Greece</a></h3>
																<div class="reviews-content">
																	<div class="star">
																		<span style="width: 60px"></span>	
																	</div>
																</div>
																<div class="price">
																	from <label>$230</label><span>person</span>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="item">
											<div class="item-inner">
												<div class="transition product-layout">
													<div class="product-item-container ">
														<div class="item-block so-quickview">
															<div class="image">
																<a href="tour-detail.html" target="_self">
																	<img src="image/catalog/demo/product/travel/bro3.jpg" alt="england" class="img-responsive">
																</a>
																<span class="label-hot"><i class="fa fa-fire" aria-hidden="true"></i>Hot tour</span>
																<a href="booking-step.html" class="book-tour btn-quickview quickview quickview_handler" title="Quick View" data-title="Quick View" data-fancybox-type="iframe"></a>
															</div>
															<div class="item-content clearfix">
																<h3><a href="tour-detail.html">The Windmills of Schie-dam, Holland</a></h3>
																<div class="reviews-content">
																	<div class="star">
																		<span style="width: 60px"></span>	
																	</div>
																</div>
																<div class="price">
																	from <label>$230</label><span>person</span>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="item">
											<div class="item-inner">
												<div class="transition product-layout">
													<div class="product-item-container ">
														<div class="item-block so-quickview">
															<div class="image">
																<a href="tour-detail.html" target="_self">
																	<img src="image/catalog/demo/product/travel/bro1.jpg" alt="england" class="img-responsive">
																</a>
																<span class="label-hot"><i class="fa fa-fire" aria-hidden="true"></i>Hot tour</span>
																<span class="label-rate style2"><i class="fa fa-star" aria-hidden="true"></i>high rate</span>
																<a href="booking-step.html" class="book-tour btn-quickview quickview quickview_handler" title="Quick View" data-title="Quick View" data-fancybox-type="iframe"></a>
															</div>
															<div class="item-content clearfix">
																<h3><a href="tour-detail.html">2 Day 1 Night Trip to Santorini, Greece</a></h3>
																<div class="reviews-content">
																	<div class="star">
																		<span style="width: 60px"></span>	
																	</div>
																</div>
																<div class="price">
																	from <label>$230</label><span>person</span>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="item">
											<div class="item-inner">
												<div class="transition product-layout">
													<div class="product-item-container ">
														<div class="item-block so-quickview">
															<div class="image">
																<a href="tour-detail.html" target="_self">
																	<img src="image/catalog/demo/product/travel/bro5.jpg" alt="england" class="img-responsive">
																</a>
																<span class="label-hot"><i class="fa fa-fire" aria-hidden="true"></i>Hot tour</span>
																<span class="label-rate style2"><i class="fa fa-star" aria-hidden="true"></i>high rate</span>
																<a href="booking-step.html" class="book-tour btn-quickview quickview quickview_handler" title="Quick View" data-title="Quick View" data-fancybox-type="iframe"></a>
															</div>
															<div class="item-content clearfix">
																<h3><a href="tour-detail.html">2 Day 1 Night Trip to Santorini, Greece</a></h3>
																<div class="reviews-content">
																	<div class="star">
																		<span style="width: 60px"></span>	
																	</div>
																</div>
																<div class="price">
																	from <label>$230</label><span>person</span>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>											
										<div class="item">
											<div class="item-inner">
												<div class="transition product-layout">
													<div class="product-item-container ">
														<div class="item-block so-quickview">
															<div class="image">
																<a href="tour-detail.html" target="_self">
																	<img src="image/catalog/demo/product/travel/bro6.jpg" alt="england" class="img-responsive">
																</a>
																<span class="label-hot"><i class="fa fa-fire" aria-hidden="true"></i>Hot tour</span>
																<span class="label-rate style2"><i class="fa fa-star" aria-hidden="true"></i>high rate</span>
																<a href="booking-step.html" class="book-tour btn-quickview quickview quickview_handler" title="Quick View" data-title="Quick View" data-fancybox-type="iframe"></a>
															</div>
															<div class="item-content clearfix">
																<h3><a href="tour-detail.html">2 Day 1 Night Trip to Santorini, Greece</a></h3>
																<div class="reviews-content">
																	<div class="star">
																		<span style="width: 60px"></span>	
																	</div>
																</div>
																<div class="price">
																	from <label>$230</label><span>person</span>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="item">
											<div class="item-inner">
												<div class="transition product-layout">
													<div class="product-item-container ">
														<div class="item-block so-quickview">
															<div class="image">
																<a href="tour-detail.html" target="_self">
																	<img src="image/catalog/demo/product/travel/bro7.jpg" alt="england" class="img-responsive">
																</a>
																<span class="label-hot"><i class="fa fa-fire" aria-hidden="true"></i>Hot tour</span>
																<span class="label-rate style2"><i class="fa fa-star" aria-hidden="true"></i>high rate</span>
																<a href="booking-step.html" class="book-tour btn-quickview quickview quickview_handler" title="Quick View" data-title="Quick View" data-fancybox-type="iframe"></a>
															</div>
															<div class="item-content clearfix">
																<h3><a href="tour-detail.html">2 Day 1 Night Trip to Santorini, Greece</a></h3>
																<div class="reviews-content">
																	<div class="star">
																		<span style="width: 60px"></span>	
																	</div>
																</div>
																<div class="price">
																	from <label>$230</label><span>person</span>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>											
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		    </div>
		    <div class="section-home3 section" id="section3">
		     	<div class="page-builder-ltr">
		     		<div class="sl-content">
		    			<div class="title">Discover</div>
		    			<h3>Iceland</h3>
		    			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
		    			<a href="#">Explore <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
		    		</div>
					<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
						<div class="module so-deals-1tr">
							<div class="modcontent">
								<div class="so-deal modcontent products-list grid clearfix preset00-3 preset01-3 preset02-2 preset03-2 preset04-1 button-type1">
									<div class="category-slider-inner3 products-list">
										<div class="item">
											<div class="item-inner">
												<div class="transition product-layout">
													<div class="product-item-container ">
														<div class="item-block so-quickview">
															<div class="image">
																<a href="tour-detail.html" target="_self">
																	<img src="image/catalog/demo/product/travel/bro5.jpg" alt="england" class="img-responsive">
																</a>
																<span class="label-hot"><i class="fa fa-fire" aria-hidden="true"></i>Hot tour</span>
																<span class="label-rate style2"><i class="fa fa-star" aria-hidden="true"></i>high rate</span>
																<a href="booking-step.html" class="book-tour btn-quickview quickview quickview_handler" title="Quick View" data-title="Quick View" data-fancybox-type="iframe"></a>
															</div>
															<div class="item-content clearfix">
																<h3><a href="tour-detail.html">The Windmills of Schie-dam, Holland</a></h3>
																<div class="reviews-content">
																	<div class="star">
																		<span style="width: 60px"></span>	
																	</div>
																</div>
																<div class="price">
																	from <label>$230</label><span>person</span>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="item">
											<div class="item-inner">
												<div class="transition product-layout">
													<div class="product-item-container ">
														<div class="item-block so-quickview">
															<div class="image">
																<a href="tour-detail.html" target="_self">
																	<img src="image/catalog/demo/product/travel/bro2.jpg" alt="england" class="img-responsive">
																</a>
																<span class="label-rate"><i class="fa fa-star" aria-hidden="true"></i>high rate</span>
																<a href="booking-step.html" class="book-tour btn-quickview quickview quickview_handler" title="Quick View" data-title="Quick View" data-fancybox-type="iframe"></a>
															</div>
															<div class="item-content clearfix">
																<h3><a href="tour-detail.html">2 Day 1 Night Trip to Santorini, Greece</a></h3>
																<div class="reviews-content">
																	<div class="star">
																		<span style="width: 60px"></span>	
																	</div>
																</div>
																<div class="price">
																	from <label>$230</label><span>person</span>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="item">
											<div class="item-inner">
												<div class="transition product-layout">
													<div class="product-item-container ">
														<div class="item-block so-quickview">
															<div class="image">
																<a href="tour-detail.html" target="_self">
																	<img src="image/catalog/demo/product/travel/bro3.jpg" alt="england" class="img-responsive">
																</a>
																<span class="label-hot"><i class="fa fa-fire" aria-hidden="true"></i>Hot tour</span>
																<a href="booking-step.html" class="book-tour btn-quickview quickview quickview_handler" title="Quick View" data-title="Quick View" data-fancybox-type="iframe"></a>
															</div>
															<div class="item-content clearfix">
																<h3><a href="tour-detail.html">The Windmills of Schie-dam, Holland</a></h3>
																<div class="reviews-content">
																	<div class="star">
																		<span style="width: 60px"></span>	
																	</div>
																</div>
																<div class="price">
																	from <label>$230</label><span>person</span>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="item">
											<div class="item-inner">
												<div class="transition product-layout">
													<div class="product-item-container ">
														<div class="item-block so-quickview">
															<div class="image">
																<a href="tour-detail.html" target="_self">
																	<img src="image/catalog/demo/product/travel/bro4.jpg" alt="england" class="img-responsive">
																</a>
																<span class="label-hot"><i class="fa fa-fire" aria-hidden="true"></i>Hot tour</span>
																<span class="label-rate style2"><i class="fa fa-star" aria-hidden="true"></i>high rate</span>
																<a href="booking-step.html" class="book-tour btn-quickview quickview quickview_handler" title="Quick View" data-title="Quick View" data-fancybox-type="iframe"></a>
															</div>
															<div class="item-content clearfix">
																<h3><a href="tour-detail.html">2 Day 1 Night Trip to Santorini, Greece</a></h3>
																<div class="reviews-content">
																	<div class="star">
																		<span style="width: 60px"></span>	
																	</div>
																</div>
																<div class="price">
																	from <label>$230</label><span>person</span>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="item">
											<div class="item-inner">
												<div class="transition product-layout">
													<div class="product-item-container ">
														<div class="item-block so-quickview">
															<div class="image">
																<a href="tour-detail.html" target="_self">
																	<img src="image/catalog/demo/product/travel/bro6.jpg" alt="england" class="img-responsive">
																</a>
																<span class="label-hot"><i class="fa fa-fire" aria-hidden="true"></i>Hot tour</span>
																<span class="label-rate style2"><i class="fa fa-star" aria-hidden="true"></i>high rate</span>
																<a href="booking-step.html" class="book-tour btn-quickview quickview quickview_handler" title="Quick View" data-title="Quick View" data-fancybox-type="iframe"></a>
															</div>
															<div class="item-content clearfix">
																<h3><a href="tour-detail.html">2 Day 1 Night Trip to Santorini, Greece</a></h3>
																<div class="reviews-content">
																	<div class="star">
																		<span style="width: 60px"></span>	
																	</div>
																</div>
																<div class="price">
																	from <label>$230</label><span>person</span>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>											
										<div class="item">
											<div class="item-inner">
												<div class="transition product-layout">
													<div class="product-item-container ">
														<div class="item-block so-quickview">
															<div class="image">
																<a href="tour-detail.html" target="_self">
																	<img src="image/catalog/demo/product/travel/bro1.jpg" alt="england" class="img-responsive">
																</a>
																<span class="label-hot"><i class="fa fa-fire" aria-hidden="true"></i>Hot tour</span>
																<span class="label-rate style2"><i class="fa fa-star" aria-hidden="true"></i>high rate</span>
																<a href="booking-step.html" class="book-tour btn-quickview quickview quickview_handler" title="Quick View" data-title="Quick View" data-fancybox-type="iframe"></a>
															</div>
															<div class="item-content clearfix">
																<h3><a href="tour-detail.html">2 Day 1 Night Trip to Santorini, Greece</a></h3>
																<div class="reviews-content">
																	<div class="star">
																		<span style="width: 60px"></span>
																	</div>
																</div>
																<div class="price">
																	from <label>$230</label><span>person</span>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
										<div class="item">
											<div class="item-inner">
												<div class="transition product-layout">
													<div class="product-item-container ">
														<div class="item-block so-quickview">
															<div class="image">
																<a href="tour-detail.html" target="_self">
																	<img src="image/catalog/demo/product/travel/bro7.jpg" alt="england" class="img-responsive">
																</a>
																<span class="label-hot"><i class="fa fa-fire" aria-hidden="true"></i>Hot tour</span>
																<span class="label-rate style2"><i class="fa fa-star" aria-hidden="true"></i>high rate</span>
																<a href="booking-step.html" class="book-tour btn-quickview quickview quickview_handler" title="Quick View" data-title="Quick View" data-fancybox-type="iframe"></a>
															</div>
															<div class="item-content clearfix">
																<h3><a href="tour-detail.html">2 Day 1 Night Trip to Santorini, Greece</a></h3>
																<div class="reviews-content">
																	<div class="star">
																		<span style="width: 60px"></span>	
																	</div>
																</div>
																<div class="price">
																	from <label>$230</label><span>person</span>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>											
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
		    </div>
		</div>
		<!-- //Main Container -->
		<!-- Footer Container -->
		<footer class="footer-container typefooter-3">
			<div class="travel-search-content3">
				<div class="container page-builder-ltr">
					<div class="row">
						<form method="get" class="travl-search-advanced clearfix">
							<div class="search-item city pull-left">
								<p>Destinations</p>
								<input type="text" class="tour-search-input" id="city" placeholder="Viet Nam">
							</div>
							<div class="search-item date pull-left">
								<input type="text" class="tour-search-input datepicker hasDatepicker" id="date_from" placeholder="Check-in">
							</div>
							<div class="search-item date pull-left">
								<input type="text" class="tour-search-input datepicker hasDatepicker" id="date_to" placeholder="Check-out">
							</div>
							<div class="search-item item-select pull-left">
								<select name="people">
									<option value="1">Number</option>
									<option value="2">2 people</option>
									<option value="3">3 people</option>
									<option value="4">4 people</option>
								</select>
							</div>
							<div class="search-item item-budget pull-left">
								<input type="number" class="hotel-budget-input" id="budget" placeholder="Budget">
							</div>
							<div class="search-item button-submit pull-left">
								<button type="submit" class="button">Search tour</button>
								<input type="hidden" name="s">
								<input type="hidden" name="search_tour" value="1">
							</div>
						</form>
					</div>
				</div>
			</div>
			<div class="socical-footer">
				<h3>Follow</h3>
				<a href="https://www.facebook.com/wpthemego" title="Face Book"><span class="fa fa-facebook"></span></a>
				<a href="#" title="Instagram"><span class="fa fa-instagram"></span></a>
			</div>
		</footer>
		</div>
		<!-- //end Footer Container -->
	
	<!-- End Color Scheme
			 ============================================ -->
	<!-- Include Libs & Plugins
			 ============================================ -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script type="text/javascript" src="js/jquery-2.2.4.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/themejs/so_megamenu.js"></script>
	<script type="text/javascript" src="js/owl-carousel/owl.carousel.js"></script>
	<script type="text/javascript" src="js/slick-slider/slick.js"></script>
	<script type="text/javascript" src="js/themejs/libs.js"></script>
	<script type="text/javascript" src="js/unveil/jquery.unveil.js"></script>
	<script type="text/javascript" src="js/countdown/jquery.countdown.min.js"></script>
	<script type="text/javascript" src="js/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js"></script>
	<script type="text/javascript" src="js/datetimepicker/moment.js"></script>
	<script type="text/javascript" src="js/datetimepicker/bootstrap-datetimepicker.min.js"></script>
	<script type="text/javascript" src="js/jquery-ui/jquery-ui.min.js"></script>
	<script type="text/javascript" src="js/modernizr/modernizr-2.6.2.min.js"></script>
	<script type="text/javascript" src="js/minicolors/jquery.miniColors.min.js"></script>
	<script type="text/javascript" src="js/jquery.nav.js"></script>
	<script type="text/javascript" src="js/quickview/jquery.magnific-popup.min.js"></script>
	<!-- Theme files
			 ============================================ -->
	<script type="text/javascript" src="js/themejs/application.js"></script>
	<script type="text/javascript" src="js/themejs/homepage.js"></script>
	<script type="text/javascript" src="js/themejs/custom_h3.js"></script>	
	<script type="text/javascript" src="js/themejs/fullpage.js"></script>	
	<script type="text/javascript">
	    var myFullpage = new fullpage('#fullpage', {
	        anchors: ['firstPage', 'secondPage', '3rdPage', '4thpage', 'lastPage'],
	        menu: '#menu',
	        lazyLoad: true
	    });
	</script>
	
</body>

</html>