<!DOCTYPE html>
<html lang="en">
<head>
      <!-- Basic page needs
       ============================================ -->
       <title>About Us</title>
        <meta charset="utf-8">
        <meta name="keywords" content="html5 template, best html5 template, best html template, html5 basic template, multipurpose html5 template, multipurpose html template, creative html templates, creative html5 templates" />
        <meta name="description" content="PortKey is a beautiful and creative travel booking HTML template for any travel designs" />
        <meta name="author" content="Magentech">
       <meta name="robots" content="index, follow" />
      <!-- Mobile specific metas
       ============================================ -->
       <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
      <!-- Favicon
       ============================================ -->
     
      <!-- Libs CSS
       ============================================ -->
       <link rel="stylesheet" href="css/bootstrap/css/bootstrap.min.css">
       <link href="css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
       <link href="js/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
       <link href="js/owl-carousel/owl.carousel.css" rel="stylesheet">
       <link href="css/themecss/lib.css" rel="stylesheet">
       <link href="js/jquery-ui/jquery-ui.min.css" rel="stylesheet">
       <link href="js/minicolors/miniColors.css" rel="stylesheet">
      <!-- Theme CSS
       ============================================ -->
       <link href="css/themecss/so_sociallogin.css" rel="stylesheet">
       <link href="css/themecss/so_searchpro.css" rel="stylesheet">
       <link href="css/themecss/so_megamenu.css" rel="stylesheet">
       <link href="css/themecss/so-categories.css" rel="stylesheet">
       <link href="css/themecss/so-listing-tabs.css" rel="stylesheet">
       <link href="css/themecss/so-category-slider.css" rel="stylesheet">
       <link href="css/themecss/so-newletter-popup.css" rel="stylesheet">
       <link href="css/footer/footer1.css" rel="stylesheet">
       <link href="css/header/header1.css" rel="stylesheet">
       <link href="css/header/header2.css" rel="stylesheet">
       <link id="color_scheme" href="css/theme.css" rel="stylesheet">
       <link href="css/responsive.css" rel="stylesheet">
       <link href="css/quickview/quickview.css" rel="stylesheet">
      <!-- Google web fonts
       ============================================ -->
       <link href="https://fonts.googleapis.com/css?family=Roboto:400,500,700" rel="stylesheet" type="text/css">
       <link href="https://fonts.googleapis.com/css?family=Libre+Franklin:400,500,600,700,800&display=swap" rel="stylesheet">
       <style type="text/css">
       body{font-family: 'Libre Franklin', sans-serif;}
     </style>
   </head>

   <body class="res layout-1">

    <div id="wrapper" class="wrapper-fluid banners-effect-10">


      <!-- Header Container  -->
      <header id="header" class=" typeheader-1">
        <!-- Header Top -->
        <div class="header-bonus">
          <div class="container">
            <ul class="bonus-phone pull-left">
              <li><i class="fa fa-phone" aria-hidden="true"></i> <a href="tel:0123456789">+11 02 81 17 51</a></li>
              <li><i class="fa fa-map-marker" aria-hidden="true"></i> 135-137 Traction Blvd, New York</li>
            </ul>
            <ul class="bonus-social pull-left">
              <li><a href="#"><i class="fa fa-pinterest-p" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
              <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            </ul>
            <div class="bonus-language pull-right">
              <form action="#" method="post" enctype="multipart/form-data">
                <div class="btn-group">
                  <button class="btn-link dropdown-toggle" data-toggle="dropdown">
                    <img src="image/catalog/flags/gb.png" alt="English" title="English">
                    <span class="hidden-xs hidden-sm hidden-md"></span> <i class="fa fa-angle-down"></i>
                  </button>
                  <ul class="dropdown-menu">
                    <li>
                      <button class="btn-block language-select" type="button" name="ar-ar"><img src="image/catalog/flags/ar.png" alt="Arabic" title="Arabic" /> Arabic</button>
                    </li>
                    <li>
                      <button class="btn-block language-select" type="button" name="en-gb"><img src="image/catalog/flags/gb.png" alt="English" title="English" /> English</button>
                    </li>
                  </ul>
                </div>
                <input type="hidden" name="code" value="" />
                <input type="hidden" name="redirect" value="#" />
              </form>
            </div>
            <div class="bonus-login pull-right">
              <a data-toggle="modal" data-target="#so_sociallogin" href="#"><i class="fa fa-user" aria-hidden="true"></i> Sign in</a>
            </div>    
          </div>
        </div>
        <div class="header-top hidden-compact">
          <div class="container">
            <div class="row">
              <div class="col-lg-3 col-xs-6 header-logo pull-left">
                <div class="navbar-logo">
                  <a href="index.html"><img src="image/catalog/demo/logo/logo.png" alt="Your Store" width="118" height="36" title="Your Store"></a>
                </div>
              </div>
              <div class="book pull-right">
                <a href="requiry.html">inquiry</a>
              </div>
              <div class="search-top pull-right">
                <div class="icon-search"><i class="fa fa-search" aria-hidden="true"></i></div>
                <form method="GET" action="">
                  <div id="sw_search" class="search input-group">
                    <div class="content-search">
                      <input class="autosearch-input" type="text" value="" size="50" autocomplete="off" placeholder="Search..." name="s"> 
                      <span class="input-group-btn">
                        <button type="submit" class="fa fa-search button-search-pro form-button"></button>
                      </span>
                    </div>
                  </div>
                </form>
              </div>
              <!-- Menuhome -->
              <div class="header-menu pull-right">
                <div class="megamenu-style-dev megamenu-dev">
                  <div class="responsive">
                    <nav class="navbar-default">
                      <div class="container-megamenu horizontal">
                        <div class="navbar-header">
                          <button type="button" id="show-megamenu" data-toggle="collapse" class="navbar-toggle">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                          </button>
                        </div>
                        <div class="megamenu-wrapper">
                          <span id="remove-megamenu" class="fa fa-times"></span>
                          <div class="megamenu-pattern">
                            <div class="container">
                              <ul class="megamenu" data-transition="slide" data-animationtime="500">
                                <li class="menu-home with-sub-menu hover">
                                  <p class="close-menu"></p>
                                  <a href="#" class="clearfix">
                                    <strong>
                                      Home
                                    </strong>
                                  </a>
                                  <div class="sub-menu" style="width: 40%;">
                                    <div class="content">
                                      <div class="row">
                                        <div class="col-md-12">
                                          <ul class="row-list">
                                            <li><a class="subcategory_item" href="index.html">Home Page 1</a></li>
                                            <li><a class="subcategory_item" href="home2.html">Home Page 2</a></li>
                                            <li><a class="subcategory_item" href="home3.html">Home Page 3</a></li>
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </li>
                                <li class="style-page with-sub-menu hover">
                                  <p class="close-menu"></p>
                                  <a  class="clearfix">
                                    <strong>
                                      Tour
                                    </strong>
                                    <span class="labelwordpress"></span>
                                  </a>
                                  <div class="sub-menu" style="width: 40%;">
                                    <div class="content">
                                      <div class="row">
                                        <div class="col-md-12">
                                          <ul class="row-list">
                                            <li><a class="subcategory_item" href="tour.html">Tour List</a></li>
                                            <li><a class="subcategory_item" href="tour.html">Tour Grid</a></li>
                                            <li><a class="subcategory_item" href="tour-detail.html">Tour Single</a></li>
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </li>
                                <li class="style-page with-sub-menu hover">
                                  <p class="close-menu"></p>
                                  <a  class="clearfix">
                                    <strong>
                                      Destination
                                    </strong>
                                    <span class="labelNew"></span>
                                  </a>
                                  <div class="sub-menu" style="width: 90%;">
                                    <div class="content">
                                      <div class="row">
                                        <div class="col-md-6">
                                          <h3>Top destinations</h3>
                                          <ul class="row-list">
                                            <li><a class="subcategory_item" href="destination-detail.html">Viet Nam</a></li>
                                            <li><a class="subcategory_item" href="destination-detail.html">New Zeland</a></li>
                                            <li><a class="subcategory_item" href="destination-detail.html">United State</a></li>
                                            <li><a class="subcategory_item" href="destination-detail.html">Iceland</a></li>
                                          </ul>
                                        </div>
                                        <div class="col-md-6">
                                          <h3>destinations layout</h3>
                                          <ul class="row-list">
                                            <li><a class="subcategory_item" href="destination-list.html">destinations Fullwidth</a></li>
                                            <li><a class="subcategory_item" href="destination-detail.html">destinations single</a></li>
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </li>
                                <li class="style-page with-sub-menu hover">
                                  <p class="close-menu"></p>
                                  <a  class="clearfix">
                                    <strong>
                                      Travel styles
                                    </strong>
                                  </a>
                                  <div class="sub-menu" style="width: 40%;">
                                    <div class="content">
                                      <div class="row">
                                        <div class="col-md-12">
                                          <ul class="row-list">
                                            <li><a class="subcategory_item" href="#">Adventure</a></li>
                                            <li><a class="subcategory_item" href="#">Holiday</a></li>
                                            <li><a class="subcategory_item" href="#">Family Tour</a></li>
                                            <li><a class="subcategory_item" href="#">Cheap Trip</a></li>
                                            <li><a class="subcategory_item" href="#">Open Tour</a></li>
                                            <li><a class="subcategory_item" href="#">Historical</a></li>
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </li>
                                <li class="style-page with-sub-menu hover">
                                  <p class="close-menu"></p>
                                  <a href="#" class="clearfix">
                                    <strong>
                                      Blog
                                    </strong>
                                  </a>
                                  <div class="sub-menu" style="width: 40%;">
                                    <div class="content" >
                                      <div class="row">
                                        <div class="col-md-12">
                                          <ul class="row-list">
                                            <li><a class="subcategory_item" href="blog-grid.html">Blog Fullwidth</a></li>
                                            <li><a class="subcategory_item" href="blog-list.html">Blog List</a></li>
                                            <li><a class="subcategory_item" href="blog-sidebar.html">Blog Grid</a></li>
                                            <li><a class="subcategory_item" href="blog-detail.html">Blog Single</a></li>
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </li>
                                <li class="style-page with-sub-menu hover">
                                  <p class="close-menu"></p>
                                  <a  class="clearfix">
                                    <strong>
                                      Pages
                                    </strong>
                                  </a>
                                  <div class="sub-menu" style="width: 40%;">
                                    <div class="content" >
                                      <div class="row">
                                        <div class="col-md-12">
                                          <ul class="row-list">
                                            <li><a class="subcategory_item" href="about-us.html">About us</a></li>
                                            <li><a class="subcategory_item" href="contact-us-v1.html">Contact us</a></li>
                                            <li><a class="subcategory_item" href="contact-us-v2.html">Contact us v2</a></li>
                                            <li><a class="subcategory_item" href="404.html">404 Error</a></li>
                                            <li><a class="subcategory_item" href="faq.html">Faq</a></li>
                                          </ul>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                                </li>
                              </ul>
                            </div>
                          </div>
                        </div>
                      </div>
                    </nav>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- //Header Top -->
      </header>
      <!-- //Header Container  -->
      <div class="modal fade in" id="so_sociallogin" tabindex="-1" role="dialog" aria-hidden="true" >
        <div class="modal-dialog block-popup-login">
          <a href="javascript:void(0)" title="Close" class="close close-login fa fa-times-circle" data-dismiss="modal"></a>
          <div class="tt_popup_login"><strong>Sign in Or Register</strong></div>
          <div class="block-content">
            <div class=" col-reg registered-account">
              <div class="block-content">
                <form class="form form-login" action="#" method="post" id="login-form">
                  <fieldset class="fieldset login" data-hasrequired="* Required Fields">
                    <div class="field email required email-input">
                      <div class="control">
                        <input name="email" value="" autocomplete="off" id="email" type="email" class="input-text" title="Email" placeholder="E-Mail Address">
                      </div>
                    </div>
                    <div class="field password required pass-input">
                      <div class="control">
                        <input name="password" type="password" autocomplete="off" class="input-text" id="pass" title="Password" placeholder="Password">
                      </div>
                    </div>

                    <div class=" form-group">
                      <label class="control-label">Login with your social account</label>
                      <div>

                        <a href="#" class="btn btn-social-icon btn-sm btn-google-plus"><i class="fa fa-google fa-fw" aria-hidden="true"></i></a>

                        <a href="#" class="btn btn-social-icon btn-sm btn-facebook"><i class="fa fa-facebook fa-fw" aria-hidden="true"></i></a>

                        <a href="#" class="btn btn-social-icon btn-sm btn-twitter"><i class="fa fa-twitter fa-fw" aria-hidden="true"></i></a>

                        <a href="#" class="btn btn-social-icon btn-sm btn-linkdin"><i class="fa fa-linkedin fa-fw" aria-hidden="true"></i></a>

                      </div>
                    </div>

                    <div class="secondary ft-link-p"><a class="action remind" href="#"><span>Forgot Your Password?</span></a></div>
                    <div class="actions-toolbar">
                      <div class="primary">
                        <button type="submit" class="action login primary" name="send" id="send2"><span>Login</span></button>
                      </div>
                    </div>
                  </fieldset>
                </form>
              </div>
            </div>
            <div class="col-reg login-customer">

              <h2>NEW HERE?</h2>
              <p class="note-reg">Registration is free and easy!</p>
              <ul class="list-log">
                <li>Faster checkout</li>
                <li>Save multiple shipping addresses</li>
                <li>View and track orders and more</li>
              </ul>
              <a class="btn-reg-popup" title="Register" href="#">Create an account</a>
            </div>
            <div style="clear:both;"></div>
          </div>
        </div>
      </div>

      <!-- Main Container  -->
      <div class="breadcrumbs">
        <div class="container">
          <div class="title-breadcrumb">   
           About Us
         </div>
         <ul class="breadcrumb-cate">
          <li><a href="index.html">Home</a></li>
          <li><a href="#">Pages</a></li>
          <li><a href="#">About Us</a></li>
        </ul>
      </div>
    </div>
    <div class="about_us">
      <section class="section-style1">
        <div class="container page-builder-ltr">
          <div class="row row-style row_a1">
            <div class="col-lg-5 col-md-5 col-sm-6 col-xs-12 col_a1c about-text">
              <h3><span>About us</span></h3>
              <p>Lorem ipsum dolor sit amet, consectetur adipisc ingelit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation.</p>
              <ul>
                <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>5 Star Accommodations</li>
                <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>Hanpick Hotels</li>
                <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>Accesibility Managment</li>
                <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>First Class Flights</li>
                <li><i class="fa fa-check-circle-o" aria-hidden="true"></i>Inclusive Packages</li>
              </ul>
              <div class="about-more clearfix"><a href="#">Learn more <i class="fa fa-long-arrow-right" aria-hidden="true"></i></a></div>
            </div>
            <div class="col-lg-7 col-md-7 col-sm-6 col-xs-12 col_a1c about-video">
              <div class="ytvideo" data-video="ibuUmMhD2Pg" style="width:870px; height:420px; background-image:url(image/bg-video.jpg)">
                <div class="seo">Travel</div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section-home2-style5">
        <div class="container page-builder-ltr">
          <div class="row row-style row_a1">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col_a1c">
              <div class="module so-deals-1tr so-deals">
                <div class="head-title clearfix">
                  <div class="block-title pull-left">
                    <h3><span>Follow AN Adventure</span></h3>
                    <p>Our tour activities attached.</p>
                  </div>
                </div>
                <div class="row">
                  <div class="ourtour clearfix">
                    <div class="item col-lg-4 col-md-4 col-sm-12 col-xs-12">
                      <div class="item-inner clearfix">
                        <div class="icon pull-left"><img src="image/catalog/demo/banners/home2/icon1.png" alt="Static Image"></div>
                        <div class="content">
                          <h3><a href="#">Beach Activities</a></h3>
                          <p>Lorem ipsum dolor sit amet</p>
                        </div>  
                      </div>
                      <div class="item-inner clearfix">
                        <div class="icon pull-left"><img src="image/catalog/demo/banners/home2/icon2.png" alt="Static Image"></div>
                        <div class="content">
                          <h3><a href="#">Watter-skiing</a></h3>
                          <p>Lorem ipsum dolor sit amet</p>
                        </div>  
                      </div>
                      <div class="item-inner clearfix">
                        <div class="icon pull-left"><img src="image/catalog/demo/banners/home2/icon3.png" alt="Static Image"></div>
                        <div class="content">
                          <h3><a href="#">Camp FIre</a></h3>
                          <p>Lorem ipsum dolor sit amet</p>
                        </div>
                      </div>
                    </div>
                    <div class="item col-lg-4 col-md-4 col-sm-12 col-xs-12">
                      <div class="item-inner clearfix">
                        <div class="icon pull-left"><img src="image/catalog/demo/banners/home2/icon4.png" alt="Static Image"></div>
                        <div class="content">
                          <h3><a href="#">Paparazzi</a></h3>
                          <p>Lorem ipsum dolor sit amet</p>
                        </div>  
                      </div>
                      <div class="item-inner clearfix">
                        <div class="icon pull-left"><img src="image/catalog/demo/banners/home2/icon5.png" alt="Static Image"></div>
                        <div class="content">
                          <h3><a href="#">Skydiving</a></h3>
                          <p>Lorem ipsum dolor sit amet</p>
                        </div>  
                      </div>
                      <div class="item-inner clearfix">
                        <div class="icon pull-left"><img src="image/catalog/demo/banners/home2/icon6.png" alt="Static Image"></div>
                        <div class="content">
                          <h3><a href="#">Vehicle SUpport</a></h3>
                          <p>Lorem ipsum dolor sit amet</p>
                        </div>
                      </div>
                    </div>
                    <div class="item col-lg-4 col-md-4 col-sm-12 col-xs-12">
                      <div class="item-inner clearfix">
                        <div class="icon pull-left"><img src="image/catalog/demo/banners/home2/icon7.png" alt="Static Image"></div>
                        <div class="content">
                          <h3><a href="#">hot-Air ballons</a></h3>
                          <p>Lorem ipsum dolor sit amet</p>
                        </div>  
                      </div>
                      <div class="item-inner clearfix">
                        <div class="icon pull-left"><img src="image/catalog/demo/banners/home2/icon8.png" alt="Static Image"></div>
                        <div class="content">
                          <h3><a href="#">luxury yacht</a></h3>
                          <p>Lorem ipsum dolor sit amet</p>
                        </div>  
                      </div>
                      <div class="item-inner clearfix">
                        <div class="icon pull-left"><img src="image/catalog/demo/banners/home2/icon9.png" alt="Static Image"></div>
                        <div class="content">
                          <h3><a href="#">Climb Mountain</a></h3>
                          <p>Lorem ipsum dolor sit amet</p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section-style3">
        <div class="promotion clearfix">
          <div class="container page-builder-ltr">
            <div class="head-title clearfix">
              <div class="block-title">
                <h3><span>Why Travel with travol</span></h3>
              </div>
            </div>
          </div>
          <div class="container page-builder-ltr">
            <div class="row">
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 item">
                <img src="image/icon/promo1.png" alt="stay safe" class="img-responsive">
                <h3>Stay Safe</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 item">
                <img src="image/icon/promo2.png" alt="Quality Services" class="img-responsive">
                <h3>Quality Services</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
              <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12 item">
                <img src="image/icon/promo3.png" alt="Save Money" class="img-responsive">
                <h3>Save Money</h3>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
              </div>
            </div>
          </div>  
        </div>
      </section>
    </div>


    <!-- //Main Container -->



    <!-- Footer Container -->
    <footer class="footer-container typefooter-1">
      <div class="footer-has-toggle" id="collapse-footer">
        <div class="so-page-builder">
          <div class="container-fluid page-builder-ltr">
            <div class="row row_mvtd footer--center2 row-color ">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col_6fdl float_none container">
                <div class="row row_hwmc  ">
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col_6ps1 footer--link">
                    <div class="footer-logo">
                      <a href="index.html"><img src="image/logo/logo-footer.png" alt="Your Store" width="194" height="59" title="Your Store"></a>
                    </div>
                    <p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form...</p>            
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col_6ps1 footer--link">
                    <h3 class="title-footer">
                      Address
                    </h3>
                    <ul class="about-list">
                      <li><i class="fa fa-map-marker" aria-hidden="true"></i><span class="ab-pd">Ranelagh Place, Liverpool, L3 5UL, England</span></li>
                      <li class="call-mail"><i class="fa fa-paper-plane" aria-hidden="true"></i><a class="ab-pd" href="mailto:contact@wpthemego.com">contact@wpthemego.com</a></li>
                      <li class="call-phone"><i class="fa fa-mobile" aria-hidden="true"></i><a class="ab-pd" href="#">8 (495) 989—20—11</a></li>
                    </ul>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col_6ps1 footer--link">
                    <h3 class="title-footer">
                      Useful Links
                    </h3>
                    <ul class="links">
                      <li>
                        <a href="index.html">Home</a>
                      </li>
                      <li>
                        <a href="#">Shop</a>
                      </li>
                      <li>
                        <a href="#">Privacy Policy</a>
                      </li>
                      <li>
                        <a href="#">Terms & Condition</a>
                      </li>
                      <li>
                        <a href="#">Latest News</a>
                      </li>
                    </ul>
                  </div>
                  <div class="col-lg-3 col-md-3 col-sm-3 col-xs-6 col_6ps1 footer--link">
                    <h3 class="title-footer">
                      Contact
                    </h3>
                    <ul class="links">
                      <li>
                        <a href="about-us.html">About Us</a>
                      </li>
                      <li>
                        <a href="contact-us-v1.html">Contact Us</a>
                      </li>
                      <li>
                        <a href="blog-grid.html">Blog</a>
                      </li>
                      <li>
                        <a href="#">Purchase Theme</a>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="footer-toggle hidden-lg hidden-md">
        <a class="showmore collapsed" data-toggle="collapse" href="#collapse-footer" aria-expanded="false" aria-controls="collapse-footer">
          <span class="toggle-more"><i class="fa fa-angle-double-down"></i>Show More</span>
          <span class="toggle-less"><i class="fa fa-angle-double-up"></i>Show less</span>
        </a>
      </div>
      <div class="footer-bottom ">
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-sm-6 copyright">
              Sw PortKey ©2019. All Rights Reserved. Designed by <a href="https://wpthemego.com/" target="_blank">wpthemego.Com</a>
            </div>
            <div class="col-md-6 col-sm-6 social">
              <h3>Follows Us:</h3>
              <ul>
                <li><a href="https://www.facebook.com/wpthemego" title="Face Book"><span class="fa fa-facebook"></span></a></li>
                <li><a href="https://twitter.com/wpthemego" title="Twitter"><span class="fa fa-twitter"></span></a></li>
                <li><a href="https://www.pinterest.com/wpthemego/" title="pinterest"><span class="fa fa-pinterest"></span></a></li>
                <li><a href="#" title="Instagram"><span class="fa fa-instagram"></span></a></li>
                <li><a href="https://plus.google.com/u/0/117616422700848151321" title="Google Plus"><span class="fa fa-google-plus"></span></a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </footer>
    <!-- //end Footer Container -->


  </div>
  <div class="back-to-top"><i class="fa fa-angle-up"></i></div>

<!-- End Color Scheme
  ============================================ -->



<!-- Include Libs & Plugins
  ============================================ -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script type="text/javascript" src="js/jquery-2.2.4.min.js"></script>
  <script type="text/javascript" src="js/bootstrap.min.js"></script>
  <script type="text/javascript" src="js/themejs/so_megamenu.js"></script>
  <script type="text/javascript" src="js/owl-carousel/owl.carousel.js"></script>
  <script type="text/javascript" src="js/slick-slider/slick.js"></script>
  <script type="text/javascript" src="js/themejs/libs.js"></script>
  <script type="text/javascript" src="js/unveil/jquery.unveil.js"></script>
  <script type="text/javascript" src="js/countdown/jquery.countdown.min.js"></script>
  <script type="text/javascript" src="js/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js"></script>
  <script type="text/javascript" src="js/datetimepicker/moment.js"></script>
  <script type="text/javascript" src="js/datetimepicker/bootstrap-datetimepicker.min.js"></script>
  <script type="text/javascript" src="js/jquery-ui/jquery-ui.min.js"></script>
  <script type="text/javascript" src="js/modernizr/modernizr-2.6.2.min.js"></script>
  <script type="text/javascript" src="js/minicolors/jquery.miniColors.min.js"></script>
  <script type="text/javascript" src="js/jquery.nav.js"></script>
  <script type="text/javascript" src="js/quickview/jquery.magnific-popup.min.js"></script>
  <!-- Theme files
    ============================================ -->
    <script type="text/javascript" src="js/themejs/application.js"></script>
    <script type="text/javascript" src="js/themejs/homepage.js"></script>
    <script type="text/javascript" src="js/themejs/custom_h1.js"></script> 
    <script type="text/javascript" src="js/themejs/nouislider.js"></script>  




  </body>
  </html>