<!DOCTYPE html>
<html lang="en">

<head>
	<!-- Basic page needs
		============================================ -->
		<title>PortKey - Tour & Travel Booking HTML Template</title>
		<meta charset="utf-8">
		<meta name="keywords" content="html5 template, best html5 template, best html template, html5 basic template, multipurpose html5 template, multipurpose html template, creative html templates, creative html5 templates" />
		<meta name="description" content="PortKey is a beautiful and creative travel booking HTML template for any travel designs" />
		<meta name="author" content="Magentech">
		<meta name="robots" content="index, follow" />
	<!-- Mobile specific metas
		============================================ -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
	<!-- Favicon
		============================================ -->

	<!-- Libs CSS
		============================================ -->
		<link rel="stylesheet" href="css/bootstrap/css/bootstrap.min.css">
		<link href="css/font-awesome/css/font-awesome.min.css" rel="stylesheet">
		<link href="js/datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet">
		<link href="js/owl-carousel/owl.carousel.css" rel="stylesheet">
		<link href="css/themecss/lib.css" rel="stylesheet">
		<link href="js/jquery-ui/jquery-ui.min.css" rel="stylesheet">
		<link href="js/minicolors/miniColors.css" rel="stylesheet">
		<link href="js/slick-slider/slick.css" rel="stylesheet">
	<!-- Theme CSS
		============================================ -->
		<link href="css/themecss/so_searchpro.css" rel="stylesheet">
		<link href="css/themecss/so_megamenu.css" rel="stylesheet">
		<link href="css/themecss/so-listing-tabs.css" rel="stylesheet">
		<link href="css/themecss/so-newletter-popup.css" rel="stylesheet">
		<link href="css/footer/footer2.css" rel="stylesheet">
		<link href="css/header/header2.css" rel="stylesheet">
		<link id="color_scheme" href="css/home2.css" rel="stylesheet">
		<link href="css/responsive.css" rel="stylesheet">
		<link href="css/quickview/quickview.css" rel="stylesheet">
	<!-- Google web fonts
		============================================ -->
		<link href="https://fonts.googleapis.com/css?family=Poppins:600,700,800&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css?family=Libre+Franklin:400,500,600,700,800&display=swap" rel="stylesheet">
		<style type="text/css">
		body{font-family: 'Libre Franklin', sans-serif;}
	</style>
</head>

<body class="common-home ltr layout-2">
	<div id="wrapper" class="wrapper-fluid banners-effect-11">
		<!-- Header Container  -->
		<header id="header" class="typeheader-2">
			<!-- Header Top -->
			<div class="header-top hidden-compact">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-xs-3 header-logo pull-left">
							<div class="navbar-logo">
								<a href="index.html"><img src="image/catalog/demo/logo/logo2.png" alt="Your Store" width="131" height="40" title="Your Store"></a>
							</div>
						</div>
						<div class="bonus-language pull-right">
							<form action="#" method="post" enctype="multipart/form-data">
								<div class="btn-group">
									<button class="btn-link dropdown-toggle" data-toggle="dropdown">
										<span class="hidden-xs hidden-sm hidden-md"></span>Eng <i class="fa fa-angle-down"></i>
									</button>
									<ul class="dropdown-menu">
										<li>
											<button class="btn-block language-select" type="button" name="ar-ar"><img src="image/catalog/flags/ar.png" alt="Arabic" title="Arabic"> Arabic</button>
										</li>
										<li>
											<button class="btn-block language-select" type="button" name="en-gb"><img src="image/catalog/flags/gb.png" alt="English" title="English"> English</button>
										</li>
									</ul>
								</div>
								<input type="hidden" name="code" value="">
								<input type="hidden" name="redirect" value="#">
							</form>
						</div>
						<div class="book pull-right">
							<a href="requiry.html">inquiry</a>
						</div>
						<div class="bonus-login pull-right">
							<a data-toggle="modal" data-target="#so_sociallogin" href="#">Login</a>
						</div>
						<!-- Menuhome -->
						<div class="header-menu pull-right">
							<div class="megamenu-style-dev megamenu-dev">
								<div class="responsive">
									<nav class="navbar-default">
										<div class="container-megamenu horizontal">
											<div class="navbar-header">
												<button type="button" id="show-megamenu" data-toggle="collapse" class="navbar-toggle">
													<span class="icon-bar"></span>
													<span class="icon-bar"></span>
													<span class="icon-bar"></span>
												</button>
											</div>
											<div class="megamenu-wrapper">
												<span id="remove-megamenu" class="fa fa-times"></span>
												<div class="megamenu-pattern">
													<div class="container">
														<ul class="megamenu" data-transition="slide" data-animationtime="500">
															<li class="menu-home with-sub-menu hover">
																<p class="close-menu"></p>
																<a href="#" class="clearfix">
																	<strong>
																		Home
																	</strong>
																</a>
																<div class="sub-menu" style="width: 40%;">
																	<div class="content">
																		<div class="row">
																			<div class="col-md-12">
																				<ul class="row-list">
																					<li><a class="subcategory_item" href="index.html">Home Page 1</a></li>
																					<li><a class="subcategory_item" href="home2.html">Home Page 2</a></li>
																					<li><a class="subcategory_item" href="home3.html">Home Page 3</a></li>
																				</ul>
																			</div>
																		</div>
																	</div>
																</div>
															</li>
															<li class="style-page with-sub-menu hover">
																<p class="close-menu"></p>
																<a  class="clearfix">
																	<strong>
																		Tour
																	</strong>
																	<span class="labelwordpress"></span>
																</a>
																<div class="sub-menu" style="width: 40%;">
																	<div class="content">
																		<div class="row">
																			<div class="col-md-12">
																				<ul class="row-list">
																					<li><a class="subcategory_item" href="tour.html">Tour List</a></li>
																					<li><a class="subcategory_item" href="tour.html">Tour Grid</a></li>
																					<li><a class="subcategory_item" href="tour-detail.html">Tour Single</a></li>
																				</ul>
																			</div>
																		</div>
																	</div>
																</div>
															</li>
															<li class="style-page with-sub-menu hover">
																<p class="close-menu"></p>
																<a  class="clearfix">
																	<strong>
																		Destination
																	</strong>
																	<span class="labelNew"></span>
																</a>
																<div class="sub-menu" style="width: 90%;">
																	<div class="content">
																		<div class="row">
																			<div class="col-md-6">
																				<h3>Top destinations</h3>
																				<ul class="row-list">
																					<li><a class="subcategory_item" href="destination-detail.html">Viet Nam</a></li>
																					<li><a class="subcategory_item" href="destination-detail.html">New Zeland</a></li>
																					<li><a class="subcategory_item" href="destination-detail.html">United State</a></li>
																					<li><a class="subcategory_item" href="destination-detail.html">Iceland</a></li>
																				</ul>
																			</div>
																			<div class="col-md-6">
																				<h3>destinations layout</h3>
																				<ul class="row-list">
																					<li><a class="subcategory_item" href="destination-list.html">destinations Fullwidth</a></li>
																					<li><a class="subcategory_item" href="destination-detail.html">destinations single</a></li>
																				</ul>
																			</div>
																		</div>
																	</div>
																</div>
															</li>
															<li class="style-page with-sub-menu hover">
																<p class="close-menu"></p>
																<a  class="clearfix">
																	<strong>
																		Travel styles
																	</strong>
																</a>
																<div class="sub-menu" style="width: 40%;">
																	<div class="content">
																		<div class="row">
																			<div class="col-md-12">
																				<ul class="row-list">
																					<li><a class="subcategory_item" href="#">Adventure</a></li>
																					<li><a class="subcategory_item" href="#">Holiday</a></li>
																					<li><a class="subcategory_item" href="#">Family Tour</a></li>
																					<li><a class="subcategory_item" href="#">Cheap Trip</a></li>
																					<li><a class="subcategory_item" href="#">Open Tour</a></li>
																					<li><a class="subcategory_item" href="#">Historical</a></li>
																				</ul>
																			</div>
																		</div>
																	</div>
																</div>
															</li>
															<li class="style-page with-sub-menu hover">
																<p class="close-menu"></p>
																<a href="blog-page.html" class="clearfix">
																	<strong>
																		Blog
																	</strong>
																</a>
																<div class="sub-menu" style="width: 40%;">
																	<div class="content" >
																		<div class="row">
																			<div class="col-md-12">
																				<ul class="row-list">
																					<li><a class="subcategory_item" href="blog-grid.html">Blog Fullwidth</a></li>
																					<li><a class="subcategory_item" href="blog-list.html">Blog List</a></li>
																					<li><a class="subcategory_item" href="blog-sidebar.html">Blog Grid</a></li>
																					<li><a class="subcategory_item" href="blog-detail.html">Blog Single</a></li>
																				</ul>
																			</div>
																		</div>
																	</div>
																</div>
															</li>
															<li class="style-page with-sub-menu hover">
																<p class="close-menu"></p>
																<a  class="clearfix">
																	<strong>
																		Pages
																	</strong>
																</a>
																<div class="sub-menu" style="width: 40%;">
																	<div class="content" >
																		<div class="row">
																			<div class="col-md-12">
																				<ul class="row-list">
																					<li><a class="subcategory_item" href="about-us.html">About us</a></li>
																					<li><a class="subcategory_item" href="contact-us-v1.html">Contact us</a></li>
																					<li><a class="subcategory_item" href="contact-us-v2.html">Contact us v2</a></li>
																					<li><a class="subcategory_item" href="404.html">404 Error</a></li>
																					<li><a class="subcategory_item" href="faq.html">Faq</a></li>
																				</ul>
																			</div>
																		</div>
																	</div>
																</div>
															</li>
														</ul>
													</div>
												</div>
											</div>
										</div>
									</nav>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- //Header Top -->
		</header>
		<!-- //Header Container  -->
		<!-- Main Container  -->
		<div id="content">
			<div class="so-page-builder">
				<div class="page-builder-ltr">
					<div class="row row_a90w row-style">
						<!--- SLider right--> 
						<div class="module sohomepage-slider so-homeslider-ltr">
							<div class="modcontent">
								<div id="sohomepage-slider2" class="slider-home2">
									<div class="so-homeslider yt-content-slider full_slider owl-drag" data-rtl="yes" data-autoplay="yes" data-autoheight="no" data-delay="4" data-speed="0.6" data-items_column00="1" data-items_column0="1" data-items_column1="1" data-items_column2="1"  data-items_column3="1" data-items_column4="1" data-arrows="yes" data-pagination="yes" data-lazyload="yes" data-loop="yes" data-hoverpause="yes">
										<div class="item">
											<a href="#" title="slide 1 - 1" >
												<img class="responsive" src="image/catalog/demo/slider/home2/slider.jpg" alt="slide 1 - 1">
											</a>
										</div>
										<div class="item">
											<a href="#" title="slide 1 - 2" >
												<img class="responsive" src="image/catalog/demo/slider/home2/slider.jpg" alt="slide 1 - 1">
											</a>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="travel-search-content2">
					<div class="container page-builder-ltr">
						<div class="row">
							<form method="get" class="travl-search-advanced clearfix">
								<div class="search-item city pull-left">
									<p>Destinations</p>
									<input type="text" class="tour-search-input" id="city" placeholder="Viet Nam">
								</div>
								<div class="search-item date pull-left">
									<input type="text" class="tour-search-input datepicker hasDatepicker" id="date_from" placeholder="DD/MM/YY">
								</div>
								<div class="search-item date pull-left">
									<input type="text" class="tour-search-input datepicker hasDatepicker" id="date_to" placeholder="DD/MM/YY">
								</div>
								<div class="search-item item-select pull-left">
									<select name="people">
										<option value="1">1 people</option>
										<option value="2">2 people</option>
										<option value="3">3 people</option>
										<option value="4">4 people</option>
									</select>
								</div>
								<div class="search-item item-budget pull-left">
									<input type="text" class="hotel-budget-input" id="budget" placeholder="$1000">
								</div>
								<div class="button-submit pull-left">
									<button type="submit" class="button"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
									<input type="hidden" name="s">
									<input type="hidden" name="search_tour" value="1">
								</div>
							</form>
						</div>
					</div>
				</div>
				<section class="section-home2-style1">
					<div class="container page-builder-ltr">
						<div class="row row-style row_a1">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col_a1c">
								<div class="module so-deals-1tr so-deals">
									<div class="head-title clearfix">
										<div class="block-title pull-left">
											<h3><span>popular destinations</span></h3>
										</div>
										<a href="tour.html" class="pull-right">view all <i class="fa fa-angle-right" aria-hidden="true"></i></a>
									</div>
									<div class="modcontent">
										<div class="so-deal modcontent products-list grid clearfix clearfix preset00-3 preset01-3 preset02-2 preset03-2 preset04-1  button-type1  style2">
											<div class="category-slider-inner products-list yt-content-slider" data-rtl="yes" data-autoplay="no" data-autoheight="no" data-delay="4" data-speed="0.6" data-margin="30" data-items_column00="3" data-items_column0="3" data-items_column1="3" data-items_column2="2"  data-items_column3="2" data-items_column4="1" data-arrows="no" data-pagination="no" data-lazyload="yes" data-loop="yes" data-hoverpause="yes">
												<div class="item">
													<div class="item-inner">
														<div class="transition product-layout">
															<div class="product-item-container ">
																<div class="item-block so-quickview">
																	<div class="image">
																		<a href="tour-detail.html" >
																			<img src="image/catalog/demo/product/travel/p1.jpg" alt="Bougainvilleas on Lombard Street,  San Francisco, Tokyo" class="img-responsive">
																		</a>
																		<span class="label-hot"><i class="fa fa-fire" aria-hidden="true"></i>Hot tour</span>
																		<span class="label-rate style2"><i class="fa fa-star" aria-hidden="true"></i>high rate</span>
																	</div>
																	<div class="item-content clearfix">
																		<h3><a href="tour-detail.html">2 Day 1 Night Trip to Santorini, Greece</a></h3>
																		<div class="reviews-content">
																			<div class="star">
																				<span style="width: 60px"></span>	
																			</div>
																			<a href="#" class="review-link" rel="nofollow">(15 reviews)</a>
																		</div>
																		<ul>
																			<li><i class="fa fa-map-marker" aria-hidden="true"></i> New Zealand</li>
																			<li><i class="fa fa-clock-o" aria-hidden="true"></i> 2 Day</li>
																			<li><i class="fa fa-user-circle" aria-hidden="true"></i> 4 persons</li>
																		</ul>
																		<div class="item-bot clearfix">
																			<div class="price pull-left">
																				from <label>$230</label><span>person</span>
																			</div>
																			<a href="booking-step.html" class="book-now btn-quickview quickview quickview_handler pull-right" title="Quick View" data-title="Quick View" data-fancybox-type="iframe">Book now</a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="item-inner">
														<div class="transition product-layout">
															<div class="product-item-container ">
																<div class="item-block so-quickview">
																	<div class="image">
																		<a href="tour-detail.html" >
																			<img src="image/catalog/demo/product/travel/p2.jpg" alt="Bougainvilleas on Lombard Street,  San Francisco, Tokyo" class="img-responsive">
																		</a>
																		<span class="label-rate"><i class="fa fa-star" aria-hidden="true"></i>high rate</span>
																	</div>
																	<div class="item-content clearfix">
																		<h3><a href="tour-detail.html">The Windmills of Schie-dam, Holland</a></h3>
																		<div class="reviews-content">
																			<div class="star">
																				<span style="width: 60px"></span>	
																			</div>
																			<a href="#" class="review-link" rel="nofollow">(10 reviews)</a>
																		</div>
																		<ul>
																			<li><i class="fa fa-map-marker" aria-hidden="true"></i> New Zealand</li>
																			<li><i class="fa fa-clock-o" aria-hidden="true"></i> 2 Day</li>
																			<li><i class="fa fa-user-circle" aria-hidden="true"></i> 4 persons</li>
																		</ul>
																		<div class="item-bot clearfix">
																			<div class="price pull-left">
																				from <label>$230</label><span>person</span>
																			</div>
																			<a href="booking-step.html" class="book-now btn-quickview quickview quickview_handler pull-right" title="Quick View" data-title="Quick View" data-fancybox-type="iframe">Book now</a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="item-inner">
														<div class="transition product-layout">
															<div class="product-item-container ">
																<div class="item-block so-quickview">
																	<div class="image">
																		<a href="tour-detail.html" >
																			<img src="image/catalog/demo/product/travel/p3.jpg" alt="Bougainvilleas on Lombard Street,  San Francisco, Tokyo" class="img-responsive">
																		</a>
																		<span class="label-rate"><i class="fa fa-star" aria-hidden="true"></i>high rate</span>
																	</div>
																	<div class="item-content clearfix">
																		<h3><a href="tour-detail.html">2 Day 1 Night Trip to Santorini, Greece</a></h3>
																		<div class="reviews-content">
																			<div class="star">
																				<span style="width: 60px"></span>	
																			</div>
																		</div>
																		<ul>
																			<li><i class="fa fa-map-marker" aria-hidden="true"></i> New Zealand</li>
																			<li><i class="fa fa-clock-o" aria-hidden="true"></i> 2 Day</li>
																			<li><i class="fa fa-user-circle" aria-hidden="true"></i> 4 persons</li>
																		</ul>
																		<div class="item-bot clearfix">
																			<div class="price pull-left">
																				from <label>$800</label><span>person</span>
																			</div>
																			<a href="booking-step.html" class="book-now btn-quickview quickview quickview_handler pull-right" title="Quick View" data-title="Quick View" data-fancybox-type="iframe">Book now</a>
																		</div>
																	</div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="section-home2-style2">
					<div class="container page-builder-ltr">
						<div class="row row-style row_a1">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col_a1c">
								<div class="module so-deals-1tr so-deals">
									<div class="head-title clearfix">
										<div class="block-title pull-left">
											<h3><span>Tour all around the world</span></h3>
										</div>
										<a href="destination-list.html" class="pull-right">view all <i class="fa fa-angle-right" aria-hidden="true"></i></a>
									</div>
									<div class="modcontent">
										<div class="so-deal modcontent products-list grid clearfix clearfix preset00-3 preset01-3 preset02-2 preset03-2 preset04-1  button-type1  style2">
											<div class="category-slider-inner products-list yt-content-slider" data-rtl="yes" data-autoplay="no" data-autoheight="no" data-delay="4" data-speed="0.6" data-margin="30" data-items_column00="4" data-items_column0="4" data-items_column1="4" data-items_column2="2"  data-items_column3="2" data-items_column4="1" data-arrows="no" data-pagination="no" data-lazyload="yes" data-loop="yes" data-hoverpause="yes">
												<div class="item">
													<div class="transition product-layout">
														<div class="product-item-container ">
															<div class="item-block so-quickview">
																<div class="image">
																	<a href="destination-detail.html" >
																		<img src="image/catalog/demo/product/travel/chosse1.jpg" alt="Bougainvilleas on Lombard Street,  San Francisco, Tokyo" class="img-responsive">
																	</a>
																</div>
																<div class="item-content">
																	<div class="item-title clearfix">
																		<h3 class="pull-left"><a href="destination-detail.html"><i class="fa fa-map-marker" aria-hidden="true"></i> England</a></h3>
																		<span class="pull-right">14 tours</span>
																	</div>			
																	<div class="view-all"><a href="destination-list.html">View all tour <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="transition product-layout">
														<div class="product-item-container ">
															<div class="item-block so-quickview">
																<div class="image">
																	<a href="destination-detail.html" >
																		<img src="image/catalog/demo/product/travel/chosse2.jpg" alt="Bougainvilleas on Lombard Street,  San Francisco, Tokyo" class="img-responsive">
																	</a>
																</div>
																<div class="item-content">
																	<div class="item-title clearfix">
																		<h3 class="pull-left"><a href="destination-detail.html"><i class="fa fa-map-marker" aria-hidden="true"></i> France</a></h3>
																		<span class="pull-right">14 tours</span>
																	</div>				
																	<div class="view-all"><a href="destination-list.html">View all tour <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="transition product-layout">
														<div class="product-item-container ">
															<div class="item-block so-quickview">
																<div class="image">
																	<a href="destination-detail.html">
																		<img src="image/catalog/demo/product/travel/chosse3.jpg" alt="Bougainvilleas on Lombard Street,  San Francisco, Tokyo" class="img-responsive">
																	</a>
																</div>
																<div class="item-content">
																	<div class="item-title clearfix">
																		<h3 class="pull-left"><a href="destination-detail.html"><i class="fa fa-map-marker" aria-hidden="true"></i> Australia</a></h3>
																		<span class="pull-right">14 tours</span>
																	</div>				
																	<div class="view-all"><a href="destination-list.html">View all tour <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></div>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="transition product-layout">
														<div class="product-item-container ">
															<div class="item-block so-quickview">
																<div class="image">
																	<a href="destination-detail.html">
																		<img src="image/catalog/demo/product/travel/chosse4.jpg" alt="Bougainvilleas on Lombard Street,  San Francisco, Tokyo" class="img-responsive">
																	</a>
																</div>
																<div class="item-content">
																	<div class="item-title clearfix">
																		<h3 class="pull-left"><a href="destination-detail.html"><i class="fa fa-map-marker" aria-hidden="true"></i> Laos</a></h3>
																		<span class="pull-right">14 tours</span>
																	</div>				
																	<div class="view-all"><a href="destination-list.html">View all tour <i class="fa fa-angle-double-right" aria-hidden="true"></i></a></div>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<div class="section-home2-style3">
					<div class="ytvideo" data-video="ibuUmMhD2Pg" style="width:1920px; height:500px; background-image:url(image/catalog/demo/banners/home2/video2.jpg)">
						<div class="seo">Travel</div>
					</div>
				</div>
				<section class="section-home2-style4">
					<div class="container page-builder-ltr">
						<div class="row row-style row_a1">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col_a1c">
								<div class="module so-deals-1tr so-deals">
									<div class="head-title clearfix">
										<div class="block-title pull-left">
											<h3><span>Flash deal</span></h3>
											<p>Our best last minutes offers. Book now and go!</p>
										</div>
										<a href="tour.html" class="pull-right">view all <i class="fa fa-angle-right" aria-hidden="true"></i></a>
									</div>
									<div class="modcontent">
										<div class="so-deal modcontent products-list grid clearfix clearfix preset00-3 preset01-3 preset02-2 preset03-2 preset04-1  button-type1  style2">
											<div class="category-slider-inner products-list yt-content-slider" data-rtl="yes" data-autoplay="yes" data-autoheight="no" data-delay="4" data-speed="0.6" data-margin="30" data-items_column00="4" data-items_column0="4" data-items_column1="4" data-items_column2="2"  data-items_column3="2" data-items_column4="1" data-arrows="no" data-pagination="no" data-lazyload="yes" data-loop="yes" data-hoverpause="yes">
												<div class="item">
													<div class="transition product-layout">
														<div class="product-item-container ">
															<div class="item-block so-quickview">
																<div class="image">
																	<a href="tour-detail.html" >
																		<img src="image/catalog/demo/product/travel/t1.jpg" alt="Bougainvilleas on Lombard Street,  San Francisco, Tokyo" class="img-responsive">
																	</a>
																	<span class="price">$230</span>
																	<span class="label-bolt"><i class="fa fa-bolt" aria-hidden="true"></i></span>
																</div>
																<div class="item-content">
																	<h3><a href="tour-detail.html">2 Day 1 Night Trip to Santorini, Greece</a></h3>
																	<div class="reviews-content">
																		<div class="star">
																			<span style="width: 60px"></span>	
																		</div>
																	</div>
																	<ul>
																		<li><i class="fa fa-map-marker" aria-hidden="true"></i> New Zealand</li>
																		<li><i class="fa fa-clock-o" aria-hidden="true"></i> 2 Day</li>
																		<li><i class="fa fa-user-circle" aria-hidden="true"></i> 4 Pers</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="transition product-layout">
														<div class="product-item-container ">
															<div class="item-block so-quickview">
																<div class="image">
																	<a href="tour-detail.html" >
																		<img src="image/catalog/demo/product/travel/t2.jpg" alt="Bougainvilleas on Lombard Street,  San Francisco, Tokyo" class="img-responsive">
																	</a>
																	<span class="price">$230</span>
																	<span class="label-bolt"><i class="fa fa-bolt" aria-hidden="true"></i></span>
																</div>
																<div class="item-content">
																	<h3><a href="tour-detail.html">The Windmills of Schie-dam, Holland</a></h3>
																	<div class="reviews-content">
																		<div class="star">
																			<span style="width: 60px"></span>	
																		</div>
																	</div>
																	<ul>
																		<li><i class="fa fa-map-marker" aria-hidden="true"></i> New Zealand</li>
																		<li><i class="fa fa-clock-o" aria-hidden="true"></i> 2 Day</li>
																		<li><i class="fa fa-user-circle" aria-hidden="true"></i> 4 Pers</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="transition product-layout">
														<div class="product-item-container ">
															<div class="item-block so-quickview">
																<div class="image">
																	<a href="tour-detail.html" >
																		<img src="image/catalog/demo/product/travel/t3.jpg" alt="Bougainvilleas on Lombard Street,  San Francisco, Tokyo" class="img-responsive">
																	</a>
																	<span class="price">$230</span>
																	<span class="label-bolt"><i class="fa fa-bolt" aria-hidden="true"></i></span>
																</div>
																<div class="item-content">
																	<h3><a href="tour-detail.html">2 Day 1 Night Trip to Santorini, Greece</a></h3>
																	<div class="reviews-content">
																		<div class="star">
																			<span style="width: 60px"></span>	
																		</div>
																	</div>
																	<ul>
																		<li><i class="fa fa-map-marker" aria-hidden="true"></i> New Zealand</li>
																		<li><i class="fa fa-clock-o" aria-hidden="true"></i> 2 Day</li>
																		<li><i class="fa fa-user-circle" aria-hidden="true"></i> 4 Pers</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
												</div>
												<div class="item">
													<div class="transition product-layout">
														<div class="product-item-container ">
															<div class="item-block so-quickview">
																<div class="image">
																	<a href="tour-detail.html" >
																		<img src="image/catalog/demo/product/travel/t4.jpg" alt="Bougainvilleas on Lombard Street,  San Francisco, Tokyo" class="img-responsive">
																	</a>
																	<span class="price">$230</span>
																	<span class="label-bolt"><i class="fa fa-bolt" aria-hidden="true"></i></span>
																</div>
																<div class="item-content">
																	<h3><a href="tour-detail.html">The Windmills of Schie-dam, Holland</a></h3>
																	<div class="reviews-content">
																		<div class="star">
																			<span style="width: 60px"></span>	
																		</div>
																	</div>
																	<ul>
																		<li><i class="fa fa-map-marker" aria-hidden="true"></i> New Zealand</li>
																		<li><i class="fa fa-clock-o" aria-hidden="true"></i> 2 Day</li>
																		<li><i class="fa fa-user-circle" aria-hidden="true"></i> 4 Pers</li>
																	</ul>
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="section-home2-style5">
					<div class="container page-builder-ltr">
						<div class="row row-style row_a1">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col_a1c">
								<div class="module so-deals-1tr so-deals">
									<div class="head-title clearfix">
										<div class="block-title pull-left">
											<h3><span>Follow AN Adventure</span></h3>
											<p>Our tour activities attached.</p>
										</div>
									</div>
									<div class="row">
										<div class="ourtour clearfix">
											<div class="item col-lg-4 col-md-4 col-sm-12 col-xs-12">
												<div class="item-inner clearfix">
													<div class="icon pull-left"><img src="image/catalog/demo/banners/home2/icon1.png" alt="Static Image"></div>
													<div class="content">
														<h3><a href="#">Beach Activities</a></h3>
														<p>Lorem ipsum dolor sit amet</p>
													</div>	
												</div>
												<div class="item-inner clearfix">
													<div class="icon pull-left"><img src="image/catalog/demo/banners/home2/icon2.png" alt="Static Image"></div>
													<div class="content">
														<h3><a href="#">Watter-skiing</a></h3>
														<p>Lorem ipsum dolor sit amet</p>
													</div>	
												</div>
												<div class="item-inner clearfix">
													<div class="icon pull-left"><img src="image/catalog/demo/banners/home2/icon3.png" alt="Static Image"></div>
													<div class="content">
														<h3><a href="#">Camp FIre</a></h3>
														<p>Lorem ipsum dolor sit amet</p>
													</div>
												</div>
											</div>
											<div class="item col-lg-4 col-md-4 col-sm-12 col-xs-12">
												<div class="item-inner clearfix">
													<div class="icon pull-left"><img src="image/catalog/demo/banners/home2/icon4.png" alt="Static Image"></div>
													<div class="content">
														<h3><a href="#">Paparazzi</a></h3>
														<p>Lorem ipsum dolor sit amet</p>
													</div>	
												</div>
												<div class="item-inner clearfix">
													<div class="icon pull-left"><img src="image/catalog/demo/banners/home2/icon5.png" alt="Static Image"></div>
													<div class="content">
														<h3><a href="#">Skydiving</a></h3>
														<p>Lorem ipsum dolor sit amet</p>
													</div>	
												</div>
												<div class="item-inner clearfix">
													<div class="icon pull-left"><img src="image/catalog/demo/banners/home2/icon6.png" alt="Static Image"></div>
													<div class="content">
														<h3><a href="#">Vehicle SUpport</a></h3>
														<p>Lorem ipsum dolor sit amet</p>
													</div>
												</div>
											</div>
											<div class="item col-lg-4 col-md-4 col-sm-12 col-xs-12">
												<div class="item-inner clearfix">
													<div class="icon pull-left"><img src="image/catalog/demo/banners/home2/icon7.png" alt="Static Image"></div>
													<div class="content">
														<h3><a href="#">hot-Air ballons</a></h3>
														<p>Lorem ipsum dolor sit amet</p>
													</div>	
												</div>
												<div class="item-inner clearfix">
													<div class="icon pull-left"><img src="image/catalog/demo/banners/home2/icon8.png" alt="Static Image"></div>
													<div class="content">
														<h3><a href="#">luxury yacht</a></h3>
														<p>Lorem ipsum dolor sit amet</p>
													</div>	
												</div>
												<div class="item-inner clearfix">
													<div class="icon pull-left"><img src="image/catalog/demo/banners/home2/icon9.png" alt="Static Image"></div>
													<div class="content">
														<h3><a href="#">Climb Mountain</a></h3>
														<p>Lorem ipsum dolor sit amet</p>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="section-home2-style6">
					<div class="container page-builder-ltr">
						<div class="row row-style row_a1">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col_a1c">
								<div class="module so-deals-1tr so-deals">
									<div class="head-title clearfix">
										<div class="block-title pull-left">
											<h3><span>Travel tips</span></h3>
										</div>
									</div>
									<div class="module custom-ourblog2 clearfix default-nav">
										<div class="modcontent">
											<div id="so_latest_blog_1" class="so-blog-external button-type2 button-type2">
												<div class="category-slider-inner products-list yt-content-slider blog-external clearfix " data-rtl="yes" data-autoplay="no" data-autoheight="no" data-delay="4" data-speed="0.6" data-margin="30" data-items_column00="1" data-items_column0="1" data-items_column1="1" data-items_column2="1"  data-items_column3="1" data-items_column4="1" data-arrows="no" data-pagination="yes" data-lazyload="yes" data-loop="yes" data-hoverpause="yes">
													<div class="media">
														<div class="item head-button">
															<div class="content-detail">
																<div class="media-content so-block">
																	<h4 class="media-heading head-item">
																		<a href="blog-detail.html" title="Aestibulum ipsum a ornare car" >The 7 Best Ways To Travel Around Europe Cheap</a>
																	</h4>
																	<div class="entry-meta clearfix">
																		<div class="entry-date font-ct date-bottom">
																			<i class="fa fa-calendar" aria-hidden="true"></i>11/11/2019
																		</div>
																		<div class="entry-comment">
																			<i class="fa fa-commenting" aria-hidden="true"></i>2 Comments
																		</div>
																		<div class="entry-social">
																			<i class="fa fa-share-alt" aria-hidden="true"></i><a href="#">Share</a>
																		</div>
																	</div>
																	<div class="description">
																		Traveling around Europe can be fairly expensive. Airline tickets, high-speed trains, overnight trains, ferries they can all eat into your limited and precious travel budget.  I mean, you came to spend money on delicious...
																	</div>
																	<div class="readmore">
																		<a href="blog-detail.html" >Read more</a>
																	</div>
																</div>
															</div>
															<div class="content-img">
																<a href="#" >
																	<img src="image/catalog/demo/blog/blogh21.jpg" alt="Aestibulum ipsum a ornare car" width="670" height="477">
																</a>
															</div>
														</div>
													</div>
													<div class="media">
														<div class="item head-button">
															<div class="content-detail">
																<div class="media-content so-block">
																	<h4 class="media-heading head-item">
																		<a href="blog-detail.html" title="Aestibulum ipsum a ornare car" >The 7 Best Ways To Travel Around Europe Cheap</a>
																	</h4>
																	<div class="entry-meta clearfix">
																		<div class="entry-date font-ct date-bottom">
																			<i class="fa fa-calendar" aria-hidden="true"></i>11/11/2019
																		</div>
																		<div class="entry-comment">
																			<i class="fa fa-commenting" aria-hidden="true"></i>2 Comments
																		</div>
																		<div class="entry-social">
																			<i class="fa fa-share-alt" aria-hidden="true"></i><a href="#">Share</a>
																		</div>
																	</div>																		
																	<div class="description">
																		Traveling around Europe can be fairly expensive. Airline tickets, high-speed trains, overnight trains, ferries they can all eat into your limited and precious travel budget.  I mean, you came to spend money on delicious...
																	</div>
																	<div class="readmore">
																		<a href="blog-detail.html" >Read more</a>
																	</div>
																</div>
															</div>
															<div class="content-img">
																<a href="#" >
																	<img src="image/catalog/demo/blog/blogh22.jpg" alt="Aestibulum ipsum a ornare car" width="670" height="477">
																</a>
															</div>
														</div>
													</div>
													<div class="media">
														<div class="item head-button">
															<div class="content-detail">
																<div class="media-content so-block">
																	<h4 class="media-heading head-item">
																		<a href="blog-detail.html" title="Aestibulum ipsum a ornare car" >The 7 Best Ways To Travel Around Europe Cheap</a>
																	</h4>
																	<div class="entry-meta clearfix">
																		<div class="entry-date font-ct date-bottom">
																			<i class="fa fa-calendar" aria-hidden="true"></i>11/11/2019
																		</div>
																		<div class="entry-comment">
																			<i class="fa fa-commenting" aria-hidden="true"></i>2 Comments
																		</div>
																		<div class="entry-social">
																			<i class="fa fa-share-alt" aria-hidden="true"></i><a href="#">Share</a>
																		</div>
																	</div>																		
																	<div class="description">
																		Traveling around Europe can be fairly expensive. Airline tickets, high-speed trains, overnight trains, ferries they can all eat into your limited and precious travel budget.  I mean, you came to spend money on delicious...
																	</div>
																	<div class="readmore">
																		<a href="blog-detail.html" >Read more</a>
																	</div>
																</div>
															</div>
															<div class="content-img">
																<a href="#" >
																	<img src="image/catalog/demo/blog/blogh23.jpg" alt="Aestibulum ipsum a ornare car" width="670" height="477">
																</a>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</section>
				<section class="section-home2-style7">
					<div class="container page-builder-ltr">
						<div class="head-title clearfix">
							<div class="block-title pull-left">
								<h3><span>Join the newsletter</span></h3>
								<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
							</div>
						</div>
						<div class="sw-newletter">				
							<form id="mc4wp-form-1" class="mc4wp-form mc4wp-form-838" method="post" data-id="838" data-name="">
								<div class="mc4wp-form-fields">
									<input class="frm-email" type="email" name="EMAIL" placeholder="Enter Your email..." required="">  
									<button class="frm-submit" type="submit" value="subscribe">SUBSCRIBE</button>
								</div>
							</form>
						</div>
					</div>
				</section>
			</div>
		</div>
		<!-- //Main Container -->
		<!-- Footer Container -->
		<footer class="footer-container typefooter-2">
			<div class="footer-has-toggle collapse" id="collapse-footer">
				<div class="so-page-builder">
					<div class="container-fluid page-builder-ltr">
						<div class="row row_mvtd  footer--center2  row-color ">
							<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 col_6fdl float_none container">
								<div class="row row_hwmc  ">
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col_6ps1 footer--link">
										<div class="footer-logo">
											<a href="index.html"><img src="image/logo/logo-footer.png" alt="Your Store" width="194" height="59" title="Your Store"></a>
										</div>
										<ul class="about-list">
											<li><i class="fa fa-map-marker" aria-hidden="true"></i><span class="ab-pd">Ranelagh Place, Liverpool, L3 5UL, England</span></li>
											<li class="call-mail"><i class="fa fa-paper-plane" aria-hidden="true"></i><a class="ab-pd" href="mailto:contact@wpthemego.com">contact@wpthemego.com</a></li>
											<li class="call-phone"><i class="fa fa-mobile" aria-hidden="true"></i><a class="ab-pd" href="#">8 (495) 989—20—11</a></li>
										</ul>					
									</div>
									<div class="col-lg-3 col-md-3 col-sm-6 col-xs-6 col_6ps1 footer--link">
										<h3 class="title-footer">Useful Links</h3>
										<ul class="links">
											<li>
												<a href="index.html">Home</a>
											</li>
											<li>
												<a href="#">Shop</a>
											</li>
											<li>
												<a href="#">Privacy Policy</a>
											</li>
											<li>
												<a href="#">Terms & Condition</a>
											</li>
											<li>
												<a href="#">Latest News</a>
											</li>
										</ul>
									</div>
									<div class="col-lg-2 col-md-3 col-sm-6 col-xs-6 col_6ps1 footer--link">
										<h3 class="title-footer">Contact</h3>
										<ul class="links">
											<li>
												<a href="about-us.html">About Us</a>
											</li>
											<li>
												<a href="contact-us-v1.html">Contact Us</a>
											</li>
											<li>
												<a href="blog-grid.html">Blog</a>
											</li>
											<li>
												<a href="#">Purchase Theme</a>
											</li>
										</ul>
									</div>
									<div class="col-lg-4 col-md-3 col-sm-6 col-xs-6 col_6ps1 footer--link">
										<h3 class="title-footer">Top Destination</h3>
										<div class="foot-slider clearfix">
											<div class="item pull-left">
												<div class="item-inner">
													<a href="#"><img src="image/catalog/demo/banners/home2/gallery1.jpg" alt="Aestibulum ipsum a ornare car"></a>
												</div>
												<div class="item-inner">
													<a href="#"><img src="image/catalog/demo/banners/home2/gallery2.jpg" alt="Aestibulum ipsum a ornare car"></a>
												</div>
											</div>
											<div class="item pull-left">
												<div class="item-inner">
													<a href="#"><img src="image/catalog/demo/banners/home2/gallery3.jpg" alt="Aestibulum ipsum a ornare car"></a>
												</div>
												<div class="item-inner">
													<a href="#"><img src="image/catalog/demo/banners/home2/gallery4.jpg" alt="Aestibulum ipsum a ornare car"></a>
												</div>
											</div>
											<div class="item pull-left">
												<div class="item-inner">
													<a href="#"><img src="image/catalog/demo/banners/home2/gallery5.jpg" alt="Aestibulum ipsum a ornare car"></a>
												</div>
												<div class="item-inner">
													<a href="#"><img src="image/catalog/demo/banners/home2/gallery6.jpg" alt="Aestibulum ipsum a ornare car"></a>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="footer-toggle hidden-lg hidden-md">
				<a class="showmore collapsed" data-toggle="collapse" href="#collapse-footer" aria-expanded="false" aria-controls="collapse-footer">
					<span class="toggle-more"><i class="fa fa-angle-double-down"></i>Show More</span> 
					<span class="toggle-less"><i class="fa fa-angle-double-up"></i>Show less</span>            
				</a>
			</div>
			<div class="footer-bottom">
				<div class="container">
					<div class="row">
						<div class="col-md-6 col-sm-6 copyright">
							Sw PortKey ©2019. All Rights Reserved. Designed by <a href="https://wpthemego.com/" target="_blank">wpthemego.Com</a>
						</div>
						<div class="col-md-6 col-sm-6 social">
							<h3>Follows Us:</h3>
							<ul>
								<li><a href="https://www.facebook.com/wpthemego" title="Face Book"><span class="fa fa-facebook"></span></a></li>
								<li><a href="https://twitter.com/wpthemego" title="Twitter"><span class="fa fa-twitter"></span></a></li>
								<li><a href="https://www.pinterest.com/wpthemego/" title="pinterest"><span class="fa fa-pinterest"></span></a></li>
								<li><a href="#" title="Instagram"><span class="fa fa-instagram"></span></a></li>
								<li><a href="https://plus.google.com/u/0/117616422700848151321" title="Google Plus"><span class="fa fa-google-plus"></span></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</footer>
		<!-- //end Footer Container -->
	</div>
	<div class="back-to-top"><i class="fa fa-angle-up"></i></div>
	<!-- End Color Scheme
		============================================ -->
	<!-- Include Libs & Plugins
	============================================ -->
	<!-- Placed at the end of the document so the pages load faster -->
	<script type="text/javascript" src="js/jquery-2.2.4.min.js"></script>
	<script type="text/javascript" src="js/bootstrap.min.js"></script>
	<script type="text/javascript" src="js/themejs/so_megamenu.js"></script>
	<script type="text/javascript" src="js/owl-carousel/owl.carousel.js"></script>
	<script type="text/javascript" src="js/slick-slider/slick.js"></script>
	<script type="text/javascript" src="js/themejs/libs.js"></script>
	<script type="text/javascript" src="js/unveil/jquery.unveil.js"></script>
	<script type="text/javascript" src="js/countdown/jquery.countdown.min.js"></script>
	<script type="text/javascript" src="js/dcjqaccordion/jquery.dcjqaccordion.2.8.min.js"></script>
	<script type="text/javascript" src="js/datetimepicker/moment.js"></script>
	<script type="text/javascript" src="js/datetimepicker/bootstrap-datetimepicker.min.js"></script>
	<script type="text/javascript" src="js/jquery-ui/jquery-ui.min.js"></script>
	<script type="text/javascript" src="js/modernizr/modernizr-2.6.2.min.js"></script>
	<script type="text/javascript" src="js/minicolors/jquery.miniColors.min.js"></script>
	<script type="text/javascript" src="js/jquery.nav.js"></script>
	<script type="text/javascript" src="js/quickview/jquery.magnific-popup.min.js"></script>
<!-- Theme files
	============================================ -->
	<script type="text/javascript" src="js/themejs/application.js"></script>
	<script type="text/javascript" src="js/themejs/homepage.js"></script>
	<script type="text/javascript" src="js/themejs/custom_h2.js"></script>

</body>

</html>